/* line 5, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/bayres.scss */
body {
  font-family: 'Myriad Pro Bold Condensed', serif;
  overflow-x: hidden;
}

/* line 13, ../sass/bayres.scss */
.agreement-form {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #005B16;
  z-index: 200000;
  overflow-y: auto;
  overflow-x: hidden;
  background: #575457;
  background: -moz-linear-gradient(left, #575457 0%, #131313 53%, #474647 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #575457), color-stop(53%, #131313), color-stop(100%, #474647));
  background: -webkit-linear-gradient(left, #575457 0%, #131313 53%, #474647 100%);
  background: -o-linear-gradient(left, #575457 0%, #131313 53%, #474647 100%);
  background: -ms-linear-gradient(left, #575457 0%, #131313 53%, #474647 100%);
  background: linear-gradient(to right, #575457 0%, #131313 53%, #474647 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575457', endColorstr='#474647', GradientType=1);
}

/* line 30, ../sass/bayres.scss */
.agreement-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* line 39, ../sass/bayres.scss */
.agreement-logo {
  /*
  background-image: url('images/logo_bayres.png');
  background-repeat: no-repeat;
  position: relative;
  margin: auto;
  width: 700px;
  height: 200px;
  top: 50px;
  */
}

@media (max-width: 360px) {
  /* line 51, ../sass/bayres.scss */
  .agreement-logo {
    margin-left: 10%;
    background-image: url("images/logo_bayres.png");
    background-size: contain;
  }
}
/* line 57, ../sass/bayres.scss */
.agreement-titulo {
  font-family: "Myriad Pro Bold Condensed";
  font-size: 50px;
  position: relative;
  line-height: 55px;
  color: #8cc63f;
  margin-top: 100px;
  text-align: center;
}

/* line 66, ../sass/bayres.scss */
.agreement-text {
  font-family: "Myriad Pro";
  font-size: 20px;
  position: relative;
  line-height: 20px;
  top: 10px;
  color: #fff;
  padding-bottom: 30px;
  margin-left: 8%;
  margin-right: 8%;
  text-align: center;
}

/* line 78, ../sass/bayres.scss */
.botonera button {
  width: 100px;
  height: 30px;
  font-size: 14px;
  color: #fff;
  font-family: 'Myriad Pro Bold Condensed', serif;
  margin-left: 7px;
  margin-right: 7px;
  border-radius: 12px;
  border: 0px solid;
  cursor: pointer;
  background: #b4ddb4;
  background: -moz-linear-gradient(top, #b4ddb4 0%, #006200 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b4ddb4), color-stop(100%, #006200));
  background: -webkit-linear-gradient(top, #b4ddb4 0%, #006200 100%);
  background: -o-linear-gradient(top, #b4ddb4 0%, #006200 100%);
  background: -ms-linear-gradient(top, #b4ddb4 0%, #006200 100%);
  background: linear-gradient(to bottom, #b4ddb4 0%, #006200 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4ddb4', endColorstr='#006200', GradientType=0);
}
