/* line 5, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Myriad Pro Bold";
  src: url('../fonts/MYRIADPRO-BOLD.woff?1446168714') format('woff');
}
@font-face {
  font-family: "Myriad Pro Bold Condensed";
  src: url('../fonts/MYRIADPRO-BOLDCOND.woff?1446168714') format('woff');
}
@font-face {
  font-family: "Myriad Pro Condensed";
  src: url('../fonts/MYRIADPRO-COND.woff?1446168714') format('woff');
}
@font-face {
  font-family: "Myriad Pro Regular";
  src: url('../fonts/MYRIADPRO-REGULAR.woff?1446168714') format('woff');
}
/* line 32, ../sass/bayres.scss */
body {
  font-family: "Myriad Pro Bold Condensed", serif;
  overflow-x: hidden;
  background-color: #00fefe;
}

/* line 37, ../sass/bayres.scss */
.font-color-text {
  color: #fff;
}

/*
AGREEMENT
*/
/* line 43, ../sass/bayres.scss */
.agreement-form {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #005B16;
  z-index: 200000;
  overflow-y: auto;
  overflow-x: hidden;
  background: #575457;
  background: -moz-linear-gradient(left, #575457 0%, #131313 53%, #474647 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #575457), color-stop(53%, #131313), color-stop(100%, #474647));
  background: -webkit-linear-gradient(left, #575457 0%, #131313 53%, #474647 100%);
  background: -o-linear-gradient(left, #575457 0%, #131313 53%, #474647 100%);
  background: -ms-linear-gradient(left, #575457 0%, #131313 53%, #474647 100%);
  background: linear-gradient(to right, #575457 0%, #131313 53%, #474647 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575457', endColorstr='#474647', GradientType=1);
}

/* line 60, ../sass/bayres.scss */
.agreement-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  height: 100%;
  width: 100%;
}

@media (max-width: 360px) {
  /* line 72, ../sass/bayres.scss */
  .img-logo {
    width: 335px;
    height: 120px;
    background-size: contain;
    margin-top: 100px;
    margin-bottom: 20px;
  }
}

/* line 81, ../sass/bayres.scss */
.agreement-titulo {
  font-family: "Myriad Pro Bold Condensed";
  font-size: 50px;
  position: relative;
  line-height: 55px;
  color: #8cc63f;
  margin-top: 30px;
  text-align: center;
}
@media (max-width: 360px) {
  /* line 81, ../sass/bayres.scss */
  .agreement-titulo {
    font-size: 45px;
    margin-top: 0px;
  }
}

/* line 94, ../sass/bayres.scss */
.agreement-text {
  font-family: "Myriad Pro Regular";
  font-size: 20px;
  position: relative;
  line-height: 20px;
  top: 10px;
  color: #fff;
  padding-bottom: 30px;
  margin-left: 8%;
  margin-right: 8%;
  text-align: center;
}
@media (max-width: 360px) {
  /* line 94, ../sass/bayres.scss */
  .agreement-text {
    font-size: 16px;
  }
}

/*
HEADER - MEDIOS DE PAGOS Y FOOTER
*/
/* line 112, ../sass/bayres.scss */
.login {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  height: 30px;
  width: 100%;
  position: fixed;
  top: 0;
  padding-left: 20%;
  background-color: #000;
  color: #fff;
  font-size: 1em;
  font-family: "Myriad Pro Bold Condensed", serif;
}

/* line 129, ../sass/bayres.scss */
.login-separator {
  padding: 0 5px;
}

/* line 132, ../sass/bayres.scss */
.login-text {
  color: #ffae00;
  text-decoration: none;
}

/* line 136, ../sass/bayres.scss */
.login-text:hover {
  color: #ffff00;
}

/* line 139, ../sass/bayres.scss */
.header {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  background-color: #bcbcbc;
  position: fixed;
  top: 0;
  z-index: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
@media (min-width: 800px) {
  /* line 139, ../sass/bayres.scss */
  .header {
    display: flex;
    justify-content: center;
  }
}

/*@media (min-width: 800px)
.menu-type-mobile {
  visibility: collapse;
  display: none !important;
}*/
/* line 162, ../sass/bayres.scss */
.menu-desktop {
  display: flex;
  flex-direction: row;
  /*min-height: 100%;
  max-width: 1200px;
  min-width: 600px;
  width: 1020px;*/
  width: 100%;
}

/* line 171, ../sass/bayres.scss */
.menu-desktop #menu-desktop-logo {
  flex: 2;
  background-color: transparent;
  min-width: 145px;
  max-width: 145px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px;
  z-index: 401;
}

/* line 181, ../sass/bayres.scss */
.menu-desktop #menu-desktop-right {
  flex: 8;
  display: flex;
  flex-direction: column;
}

/* line 186, ../sass/bayres.scss */
.menu-desktop #menu-desktop-right #menu-desktop-upper {
  flex: 1;
}

/* line 189, ../sass/bayres.scss */
.menu-desktop #menu-desktop-right #menu-desktop-lower {
  background-color: transparent;
  flex: 1;
  padding: 5px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 203, ../sass/bayres.scss */
.menu-desktop #menu-desktop-right #menu-desktop-lower #menu-desktop-lower-inner {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

/* line 211, ../sass/bayres.scss */
.menu-desktop #menu-desktop-right #menu-desktop-lower .menu-desktop-btn:hover, .menu-desktop #menu-desktop-right #menu-desktop-lower .menu-desktop-btn-selected {
  color: #fff;
  background-color: darkgreen;
}

/* line 215, ../sass/bayres.scss */
.menu-desktop #menu-desktop-right #menu-desktop-lower .menu-desktop-btn {
  cursor: pointer;
  font-family: "Myriad Pro Condensed";
  font-weight: bolder;
  margin-top: -5px;
  padding: 17px;
  font-size: 16px;
  max-height: 26px;
  position: relative;
  color: #fff;
}

/* line 227, ../sass/bayres.scss */
.menu-mobile {
  display: flex;
  height: 100%;
  z-index: 100;
}

/* line 232, ../sass/bayres.scss */
.nav-button {
  flex: 1;
  margin-top: 15px;
  margin-left: 15px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  transform-origin: 13px 13px;
  transform-style: preserve-3D;
}

/* line 244, ../sass/bayres.scss */
.menu-mobile .header-separator {
  height: 40px;
  margin-top: 5px;
  width: 2px;
  margin-left: 40px;
  background-color: white;
}

/* line 251, ../sass/bayres.scss */
.bienvenidos {
  color: white;
  margin-left: 30px;
  margin-top: 15px;
  font-size: 25px;
  text-align: left;
}

/* line 258, ../sass/bayres.scss */
.menu-mobile .logo {
  flex: 5;
  padding: 5px;
  margin-right: 15px;
  text-align: right;
}

/*
CONTENEDORES
*/
/* line 268, ../sass/bayres.scss */
.container-title {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

/* line 273, ../sass/bayres.scss */
.title-font {
  font-size: 71px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
}

/* line 278, ../sass/bayres.scss */
.primary-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

/* line 286, ../sass/bayres.scss */
.container-form {
  min-height: 370px;
  width: 690px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: #8CC63F 1px solid;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}
@media (max-width: 360px) {
  /* line 286, ../sass/bayres.scss */
  .container-form {
    width: 340px;
  }
}

/* line 302, ../sass/bayres.scss */
.container-form-2 {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

/* line 311, ../sass/bayres.scss */
.container-1, .container-2 {
  width: 100%;
  margin-top: 15px;
}

/* line 315, ../sass/bayres.scss */
.container-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

/* line 323, ../sass/bayres.scss */
.container-2 {
  margin-bottom: 15px;
}

/* line 326, ../sass/bayres.scss */
.container-datos {
  order: 0;
  flex: 2 1 auto;
  align-self: auto;
}

/* line 331, ../sass/bayres.scss */
.container-datos-1, .container-datos-2 {
  width: 165px;
  margin: 0 15px;
}

/* line 335, ../sass/bayres.scss */
.container-pwd {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}

/* line 340, ../sass/bayres.scss */
.container-datos, .container-pwd, .container-carrito {
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 343, ../sass/bayres.scss */
.container-datos {
  margin-left: 15px;
  margin-right: 7px;
}

/* line 347, ../sass/bayres.scss */
.container-pwd {
  margin-left: 7px;
  margin-right: 15px;
}

/* line 351, ../sass/bayres.scss */
.container-carrito {
  margin: 0 15px;
}

/* line 354, ../sass/bayres.scss */
.container-interno {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

/* line 362, ../sass/bayres.scss */
.carrito-historico, .carrito-productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  padding: 10px 0;
}

/**
CONTROLES
*/
/* line 374, ../sass/bayres.scss */
.botonera {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}
@media (max-width: 360px) {
  /* line 374, ../sass/bayres.scss */
  .botonera {
    margin-bottom: 30px;
  }
}

/* line 386, ../sass/bayres.scss */
button {
  width: 100px;
  height: 30px;
  font-size: 14px;
  color: #fff;
  font-family: "Myriad Pro Bold Condensed", serif;
  margin-left: 7px;
  margin-right: 7px;
  border-radius: 12px;
  border: 0px solid;
  cursor: pointer;
  background: #b4ddb4;
  background: -moz-linear-gradient(top, #b4ddb4 0%, #006200 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b4ddb4), color-stop(100%, #006200));
  background: -webkit-linear-gradient(top, #b4ddb4 0%, #006200 100%);
  background: -o-linear-gradient(top, #b4ddb4 0%, #006200 100%);
  background: -ms-linear-gradient(top, #b4ddb4 0%, #006200 100%);
  background: linear-gradient(to bottom, #b4ddb4 0%, #006200 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4ddb4', endColorstr='#006200', GradientType=0);
}

/* line 406, ../sass/bayres.scss */
.form-control {
  display: block;
  width: 100%;
  height: 20px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #000;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 28px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* line 423, ../sass/bayres.scss */
.form-message {
  margin-top: 20px;
  text-align: center;
}

/* line 427, ../sass/bayres.scss */
.message {
  font-weight: bold;
  color: #8cc63f;
}

/* line 431, ../sass/bayres.scss */
.datos-titulo, .pwd-titulo, .carrito-titulo {
  font-size: 24px;
  color: #8cc63f;
  text-align: center;
  margin: 15px 0;
}

/* line 437, ../sass/bayres.scss */
.carrito-titulo {
  margin-right: 5px;
}

/* line 440, ../sass/bayres.scss */
.label-input {
  font-size: 20px;
  color: #fff;
  margin-left: 10px;
}

/* line 445, ../sass/bayres.scss */
.form-group {
  margin-bottom: 15px;
}

/* line 448, ../sass/bayres.scss */
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

/* line 455, ../sass/bayres.scss */
.control-select {
  height: 38px;
  width: 300px;
  margin-left: 5px;
}

/* line 460, ../sass/bayres.scss */
.carrito-table-head, .carrito-table-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  width: 100%;
}

/* line 469, ../sass/bayres.scss */
.carrito-table-head {
  color: #8cc63f;
}

/* line 472, ../sass/bayres.scss */
.carrito-table-row-name {
  width: 220px;
}

/* line 475, ../sass/bayres.scss */
.carrito-table-row {
  width: 85px;
  text-align: center;
}

/* line 479, ../sass/bayres.scss */
.div-input, .div-input-big {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
  border: 0px solid;
  margin: 0 3px 10px 3px;
  text-align: right;
}

/* line 487, ../sass/bayres.scss */
.div-input {
  width: 60px;
  font-size: 12px;
}

/* line 491, ../sass/bayres.scss */
.div-input-big {
  width: 90px;
  font-size: 18px;
  height: 20px;
}

/* line 496, ../sass/bayres.scss */
.carrito-subtotal {
  font-size: 26px;
  font-weight: bold;
}

/* line 500, ../sass/bayres.scss */
.container-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  margin-bottom: 15px;
}

/* line 509, ../sass/bayres.scss */
.btn-cancel {
  background: #a90329;
  background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a90329), color-stop(44%, #8f0222), color-stop(100%, #6d0019));
  background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -o-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -ms-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
}

/* line 519, ../sass/bayres.scss */
.carrito-totales {
  color: #fff;
  font-size: 54px;
  font-family: "Myriad Pro Bold Condensed", serif;
  text-align: center;
}

/* line 525, ../sass/bayres.scss */
.info-envios {
  font-family: "Myriad Pro Condensed", serif;
  font-size: 18px;
  color: #8cc63f;
  text-align: center;
  margin: 0 10%;
}

/* line 533, ../sass/bayres.scss */
#medios {
  background-color: #FCFCFC;
  font-family: "Myriad Pro Bold Condensed", serif;
  width: 100%;
  color: #8cc63f;
  font-size: 20px;
  white-space: nowrap;
}

/* line 541, ../sass/bayres.scss */
#medios {
  position: absolute;
  height: 50px;
  top: 2225px;
  right: 0px;
  left: 0px;
  z-index: 50;
}

/* line 549, ../sass/bayres.scss */
.medio-pagos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

/* line 557, ../sass/bayres.scss */
.medio-pagos img {
  width: 40px;
  height: 30px;
  padding: 10px 5px 0 5px;
}

/* line 562, ../sass/bayres.scss */
#footer {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  font-family: "Myriad Pro Condensed", serif;
}

/* line 568, ../sass/bayres.scss */
#footer {
  position: absolute;
  height: 450px;
  top: 2275px;
  right: 0px;
  left: 0px;
  z-index: 50;
  background-color: #000000;
}

/* line 577, ../sass/bayres.scss */
.footer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

/* line 585, ../sass/bayres.scss */
.footer-upper {
  margin-top: 20px;
}

/* line 588, ../sass/bayres.scss */
.footer-lower {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
  margin-top: 50px;
}
@media (max-width: 360px) {
  /* line 588, ../sass/bayres.scss */
  .footer-lower {
    margin-top: 15px;
  }
}

/* line 600, ../sass/bayres.scss */
.footer-lower-colum {
  width: 150px;
}
@media (max-width: 360px) {
  /* line 600, ../sass/bayres.scss */
  .footer-lower-colum {
    width: 75px;
    font-size: 14px;
  }
}

/* line 607, ../sass/bayres.scss */
.footer-lower-title {
  color: #8cc63f;
}

/* line 610, ../sass/bayres.scss */
.footer-lower-link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

/* line 615, ../sass/bayres.scss */
.footer-lower-link:hover {
  color: #ffff00;
}

/* line 618, ../sass/bayres.scss */
.copyright {
  width: 100%;
  margin-top: 50px;
  text-align: center;
  font-size: 14px;
}

/* line 624, ../sass/bayres.scss */
.ac-desarrollo {
  text-decoration: none;
  color: #fff;
}

/* line 628, ../sass/bayres.scss */
.ac-desarrollo:hover {
  color: #ffff00;
}

@media (max-width: 360px) {
  /* line 631, ../sass/bayres.scss */
  .medio-pagos-text {
    display: none;
  }
}

@media (max-width: 360px) {
  /* line 636, ../sass/bayres.scss */
  .img-logo-footer {
    width: 335px;
    height: 100px;
    margin-left: 20px;
    background-size: contain;
  }
}
