/* line 5, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Myriad Pro Bold";
  src: url('../fonts/MYRIADPRO-BOLD.woff?1447016101') format('woff');
}
@font-face {
  font-family: "Myriad Pro Bold Condensed";
  src: url('../fonts/MYRIADPRO-BOLDCOND.woff?1447016101') format('woff');
}
@font-face {
  font-family: "Myriad Pro Condensed";
  src: url('../fonts/MYRIADPRO-COND.woff?1447016101') format('woff');
}
@font-face {
  font-family: "Myriad Pro Regular";
  src: url('../fonts/MYRIADPRO-REGULAR.woff?1447016101') format('woff');
}
/* line 33, ../sass/bayres.scss */
body {
  font-family: "Myriad Pro Bold Condensed", serif;
  overflow-x: hidden;
  background-color: #00fefe;
}

/* line 38, ../sass/bayres.scss */
.font-color-text {
  color: #fff;
}

/*
AGREEMENT
*/
/* line 44, ../sass/bayres.scss */
.agreement-form {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #005B16;
  z-index: 200000;
  overflow-y: auto;
  overflow-x: hidden;
  background: #575457;
  background: -moz-linear-gradient(left, #575457 0%, #131313 53%, #474647 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #575457), color-stop(53%, #131313), color-stop(100%, #474647));
  background: -webkit-linear-gradient(left, #575457 0%, #131313 53%, #474647 100%);
  background: -o-linear-gradient(left, #575457 0%, #131313 53%, #474647 100%);
  background: -ms-linear-gradient(left, #575457 0%, #131313 53%, #474647 100%);
  background: linear-gradient(to right, #575457 0%, #131313 53%, #474647 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575457', endColorstr='#474647', GradientType=1);
}

/* line 61, ../sass/bayres.scss */
.agreement-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  height: 100%;
  width: 100%;
}

@media (max-width: 360px) {
  /* line 73, ../sass/bayres.scss */
  .img-logo {
    width: 335px;
    height: 120px;
    background-size: contain;
    margin-top: 100px;
    margin-bottom: 20px;
  }
}

/* line 82, ../sass/bayres.scss */
.agreement-titulo {
  font-family: "Myriad Pro Bold Condensed";
  font-size: 50px;
  position: relative;
  line-height: 55px;
  color: #8cc63f;
  margin-top: 30px;
  text-align: center;
}
@media (max-width: 360px) {
  /* line 82, ../sass/bayres.scss */
  .agreement-titulo {
    font-size: 45px;
    margin-top: 0px;
  }
}

/* line 95, ../sass/bayres.scss */
.agreement-text {
  font-family: "Myriad Pro Regular";
  font-size: 20px;
  position: relative;
  line-height: 20px;
  top: 10px;
  color: #fff;
  padding-bottom: 30px;
  margin-left: 8%;
  margin-right: 8%;
  text-align: center;
}
@media (max-width: 360px) {
  /* line 95, ../sass/bayres.scss */
  .agreement-text {
    font-size: 16px;
  }
}

/*
CONTENEDORES
*/
/* line 114, ../sass/bayres.scss */
.container-title {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

/* line 119, ../sass/bayres.scss */
.title-font {
  font-family: "Myriad Pro Bold Condensed";
  font-size: 71px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
}

/* line 124, ../sass/bayres.scss */
.primary-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

/* line 132, ../sass/bayres.scss */
.container-form, .container-main {
  z-index: 1;
  position: absolute;
}
@media (max-width: 700px) {
  /* line 132, ../sass/bayres.scss */
  .container-form, .container-main {
    margin: 0;
  }
}

/* line 141, ../sass/bayres.scss */
.container-main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  position: relative;
}

/* line 151, ../sass/bayres.scss */
.container-form {
  min-height: 370px;
  width: 690px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: #8CC63F 1px solid;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}
@media (max-width: 360px) {
  /* line 151, ../sass/bayres.scss */
  .container-form {
    width: 340px;
  }
}

/* line 167, ../sass/bayres.scss */
.container-form-2 {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

/* line 176, ../sass/bayres.scss */
.container-1, .container-2 {
  width: 100%;
  margin-top: 15px;
}

/* line 180, ../sass/bayres.scss */
.container-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

/* line 188, ../sass/bayres.scss */
.container-2 {
  margin-bottom: 15px;
}

/* line 191, ../sass/bayres.scss */
.container-datos {
  order: 0;
  flex: 2 1 auto;
  align-self: auto;
}

/* line 196, ../sass/bayres.scss */
.container-datos-1, .container-datos-2 {
  width: 165px;
  margin: 0 15px;
}

/* line 200, ../sass/bayres.scss */
.container-pwd {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}

/* line 205, ../sass/bayres.scss */
.container-datos, .container-pwd, .container-carrito {
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 208, ../sass/bayres.scss */
.container-datos {
  margin-left: 15px;
  margin-right: 7px;
}

/* line 212, ../sass/bayres.scss */
.container-pwd {
  margin-left: 7px;
  margin-right: 15px;
}

/* line 216, ../sass/bayres.scss */
.container-carrito {
  margin: 0 15px;
}

/* line 219, ../sass/bayres.scss */
.container-interno {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

/* line 227, ../sass/bayres.scss */
.carrito-historico, .carrito-productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  padding: 10px 0;
}

/* line 236, ../sass/bayres.scss */
.container-producto {
  width: 180px;
  margin: 5px 5px 10px 5px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 190px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

/* line 250, ../sass/bayres.scss */
.container-producto-border {
  border: 1px solid #8cc63f;
  width: 170px;
  height: 180px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

/* line 262, ../sass/bayres.scss */
.producto-nombre {
  font-family: "Myriad Pro Bold Condensed", serif;
  font-size: 19px;
  color: #8cc63f;
  width: 96%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  white-space: nowrap;
  max-width: 150px;
  overflow: hidden;
  margin-left: 4%;
  text-shadow: 1px 1px 1px #000000;
}

/* line 276, ../sass/bayres.scss */
.producto-img {
  height: 112px;
  width: 112px;
}

/* line 280, ../sass/bayres.scss */
.producto-botones {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

/* line 288, ../sass/bayres.scss */
.producto-peso, .producto-precio {
  font-size: 20px;
  margin-bottom: 5px;
}

/* line 292, ../sass/bayres.scss */
.producto-peso-big, .producto-precio-big {
  font-size: 28px;
  margin-bottom: 5px;
}

/* line 296, ../sass/bayres.scss */
.producto-peso, .producto-peso-big {
  color: red;
}

/* line 299, ../sass/bayres.scss */
.producto-precio {
  color: #fff;
  margin-right: 25px;
}

/* line 303, ../sass/bayres.scss */
.container-main-title {
  color: #fff;
  margin-bottom: 15px;
}

/* line 307, ../sass/bayres.scss */
.container-main-productos, .container-main-ofertas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  width: 800px;
  min-width: 480px;
  font-family: "Myriad Pro Bold Condensed", serif;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  border: #8CC63F 1px solid;
}

@media (max-width: 700px) {
  /* line 324, ../sass/bayres.scss */
  .container-main-ofertas {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    min-width: 0;
  }
}
/* line 332, ../sass/bayres.scss */
.container-main-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  text-align: center;
  min-height: 370px;
  width: 690px;
  font-family: "Myriad Pro Bold Condensed", serif;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  border: #8CC63F 1px solid;
  padding: 25px 0;
}
@media (max-width: 700px) {
  /* line 332, ../sass/bayres.scss */
  .container-main-content {
    width: 95%;
  }
}

/* line 352, ../sass/bayres.scss */
.container-detalle-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 370px;
  width: 690px;
  font-family: "Myriad Pro Bold Condensed", serif;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: #8CC63F 1px solid;
  padding: 25px 0;
}
@media (max-width: 360px) {
  /* line 352, ../sass/bayres.scss */
  .container-detalle-content {
    flex-direction: column;
    width: 350px;
  }
}

/* line 372, ../sass/bayres.scss */
.container-detalle-1, .container-detalle-2 {
  margin: 0 15px;
}

/* line 375, ../sass/bayres.scss */
.container-detalle-2 {
  color: #fff;
  text-align: justify;
  text-justify: inter-word;
  font-family: "Myriad Pro Condensed", serif;
  min-width: 60%;
}

/**
CONTROLES
*/
/* line 385, ../sass/bayres.scss */
.botonera {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}
@media (max-width: 360px) {
  /* line 385, ../sass/bayres.scss */
  .botonera {
    margin-bottom: 30px;
  }
}

/* line 397, ../sass/bayres.scss */
.btn-carrito, .btn-carrigo-big {
  width: 90px;
  height: 40px;
  background: url("../images/boton-oferta.png") 50% 50% no-repeat;
  background-size: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

/* line 410, ../sass/bayres.scss */
.btn-carrigo-big {
  width: 130px;
  height: 58px;
  background: url("../images/boton-oferta.png") 50% 50% no-repeat;
}

/* line 415, ../sass/bayres.scss */
.btn-carrito:hover {
  width: 90px;
  height: 40px;
  background: url("../images/boton-oferta-hover.png") 50% 50% no-repeat;
  background-size: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

/* line 428, ../sass/bayres.scss */
.btn-carrigo-big:hover {
  width: 130px;
  height: 58px;
  background: url("../images/boton-oferta-hover.png") 50% 50% no-repeat;
}

/* line 433, ../sass/bayres.scss */
.btn-info {
  width: 40px;
  height: 40px;
  background: url("../images/info_2.png") 50% 50% no-repeat;
  background-size: 90%;
  cursor: pointer;
}

/* line 440, ../sass/bayres.scss */
.btn-info:hover {
  width: 40px;
  height: 40px;
  background: url("../images/info_2b.png") 50% 50% no-repeat;
  background-size: 90%;
  cursor: pointer;
}

/* line 447, ../sass/bayres.scss */
.btn-close {
  cursor: pointer;
}

/* line 450, ../sass/bayres.scss */
button {
  width: 100px;
  height: 30px;
  font-size: 14px;
  color: #fff;
  font-family: "Myriad Pro Bold Condensed", serif;
  margin-left: 7px;
  margin-right: 7px;
  border-radius: 12px;
  border: 0px solid;
  cursor: pointer;
  background: #b4ddb4;
  background: -moz-linear-gradient(top, #b4ddb4 0%, #006200 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b4ddb4), color-stop(100%, #006200));
  background: -webkit-linear-gradient(top, #b4ddb4 0%, #006200 100%);
  background: -o-linear-gradient(top, #b4ddb4 0%, #006200 100%);
  background: -ms-linear-gradient(top, #b4ddb4 0%, #006200 100%);
  background: linear-gradient(to bottom, #b4ddb4 0%, #006200 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4ddb4', endColorstr='#006200', GradientType=0);
}

/* line 470, ../sass/bayres.scss */
.btn-big {
  width: 120px;
  height: 37px;
  font-size: 16px;
}

/* line 475, ../sass/bayres.scss */
.form-control {
  display: block;
  width: 250px;
  height: 20px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #000;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 28px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* line 493, ../sass/bayres.scss */
.form-message {
  margin-top: 20px;
  text-align: center;
}

/* line 497, ../sass/bayres.scss */
.message {
  font-weight: bold;
  color: #8cc63f;
}

/* line 501, ../sass/bayres.scss */
.datos-titulo, .pwd-titulo, .carrito-titulo {
  font-size: 24px;
  color: #8cc63f;
  text-align: center;
  margin: 15px 0;
}

/* line 507, ../sass/bayres.scss */
.carrito-titulo {
  margin-right: 5px;
}

/* line 510, ../sass/bayres.scss */
.label-input {
  font-size: 20px;
  color: #fff;
  margin-left: 10px;
}

/* line 515, ../sass/bayres.scss */
.form-group {
  margin-bottom: 15px;
}

/* line 518, ../sass/bayres.scss */
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

/* line 525, ../sass/bayres.scss */
.control-select {
  height: 38px;
  width: 300px;
  margin-left: 5px;
}
@media (max-width: 700px) {
  /* line 525, ../sass/bayres.scss */
  .control-select {
    margin: 10px 0;
  }
}

/* line 533, ../sass/bayres.scss */
.carrito-table-head, .carrito-table-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  width: 100%;
}

/* line 542, ../sass/bayres.scss */
.carrito-table-head {
  color: #8cc63f;
}

@media (max-width: 600px) {
  /* line 547, ../sass/bayres.scss */
  .carrito-table-body {
    font-family: "Myriad Pro Condensed";
  }
}
/* line 551, ../sass/bayres.scss */
.carrito-table-row-name {
  width: 220px;
}
@media (max-width: 600px) {
  /* line 551, ../sass/bayres.scss */
  .carrito-table-row-name {
    width: 40%;
  }
}

/* line 557, ../sass/bayres.scss */
.carrito-table-row {
  width: 85px;
  text-align: center;
}
@media (max-width: 600px) {
  /* line 557, ../sass/bayres.scss */
  .carrito-table-row {
    width: 18%;
  }
}

/* line 564, ../sass/bayres.scss */
.table-row-image {
  width: 32px;
}

/* line 567, ../sass/bayres.scss */
.div-input, .div-input-big {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
  border: 0px solid;
  margin: 0 3px 5px 3px;
  text-align: right;
}

/* line 575, ../sass/bayres.scss */
.div-input {
  width: 60px;
  font-size: 12px;
}
@media (max-width: 600px) {
  /* line 575, ../sass/bayres.scss */
  .div-input {
    width: 10%;
    font-size: 15px;
  }
}

/* line 583, ../sass/bayres.scss */
.div-input-big {
  width: 90px;
  font-size: 18px;
  height: 20px;
}

/* line 588, ../sass/bayres.scss */
.div-image-small {
  background-color: #fff;
  padding: 2px;
  border-radius: 10px;
  width: 24px;
  height: 24px;
}

/* line 598, ../sass/bayres.scss */
.carrito-entrega {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  padding: 20px 0;
}
@media (max-width: 700px) {
  /* line 598, ../sass/bayres.scss */
  .carrito-entrega {
    flex-direction: column;
  }
}

/* line 610, ../sass/bayres.scss */
.carrito-subtotal {
  font-size: 26px;
  font-weight: bold;
}

/* line 614, ../sass/bayres.scss */
.container-contacto {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  width: 100%;
}

/* line 623, ../sass/bayres.scss */
.container-contacto-1, .container-contacto-2 {
  width: 40%;
}

/* line 626, ../sass/bayres.scss */
.container-contacto-1 {
  margin-right: 25px;
}

/* line 629, ../sass/bayres.scss */
.container-contacto-2 {
  margin-left: 30px;
}

/* line 632, ../sass/bayres.scss */
textarea {
  width: 250px;
  height: 178px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

/* line 638, ../sass/bayres.scss */
.container-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  margin-bottom: 15px;
}

/* line 647, ../sass/bayres.scss */
.btn-cancel {
  background: #a90329;
  background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a90329), color-stop(44%, #8f0222), color-stop(100%, #6d0019));
  background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -o-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -ms-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
}

/* line 657, ../sass/bayres.scss */
.carrito-totales {
  color: #fff;
  font-size: 54px;
  font-family: "Myriad Pro Bold Condensed", serif;
  text-align: center;
}
@media (max-width: 700px) {
  /* line 657, ../sass/bayres.scss */
  .carrito-totales {
    margin-top: 20px;
  }
}

/* line 666, ../sass/bayres.scss */
.info-envios {
  font-family: "Myriad Pro Condensed", serif;
  font-size: 18px;
  color: #8cc63f;
  text-align: center;
  margin: 15px 10%;
}
@media (max-width: 600px) {
  /* line 666, ../sass/bayres.scss */
  .info-envios {
    margin: 0 10%;
  }
}

/* line 677, ../sass/bayres.scss */
#medios {
  background-color: #FCFCFC;
  font-family: "Myriad Pro Bold Condensed", serif;
  width: 100%;
  color: #8cc63f;
  font-size: 20px;
  white-space: nowrap;
}

/* line 685, ../sass/bayres.scss */
#medios {
  position: absolute;
  height: 50px;
  top: 2225px;
  right: 0px;
  left: 0px;
  z-index: 50;
}

/* line 693, ../sass/bayres.scss */
.medio-pagos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

/* line 701, ../sass/bayres.scss */
.medio-pagos img {
  width: 40px;
  height: 30px;
  padding: 10px 5px 0 5px;
}

/* line 706, ../sass/bayres.scss */
#footer {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  font-family: "Myriad Pro Condensed", serif;
}

/* line 712, ../sass/bayres.scss */
#footer {
  position: absolute;
  height: 450px;
  top: 2275px;
  right: 0px;
  left: 0px;
  z-index: 50;
  background-color: #000000;
}

/* line 721, ../sass/bayres.scss */
.footer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

/* line 729, ../sass/bayres.scss */
.footer-upper {
  margin-top: 20px;
}

/* line 732, ../sass/bayres.scss */
.footer-lower {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
  margin-top: 50px;
}
@media (max-width: 360px) {
  /* line 732, ../sass/bayres.scss */
  .footer-lower {
    margin-top: 15px;
  }
}

/* line 744, ../sass/bayres.scss */
.footer-lower-colum {
  width: 150px;
}
@media (max-width: 360px) {
  /* line 744, ../sass/bayres.scss */
  .footer-lower-colum {
    width: 75px;
    font-size: 14px;
  }
}

/* line 751, ../sass/bayres.scss */
.footer-lower-title {
  color: #8cc63f;
}

/* line 754, ../sass/bayres.scss */
.footer-lower-link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

/* line 759, ../sass/bayres.scss */
.footer-lower-link:hover {
  color: #ffff00;
}

/* line 762, ../sass/bayres.scss */
.copyright {
  width: 100%;
  margin-top: 50px;
  text-align: center;
  font-size: 14px;
}

/* line 768, ../sass/bayres.scss */
.ac-desarrollo {
  text-decoration: none;
  color: #fff;
}

/* line 772, ../sass/bayres.scss */
.ac-desarrollo:hover {
  color: #ffff00;
}

@media (max-width: 360px) {
  /* line 775, ../sass/bayres.scss */
  .medio-pagos-text {
    display: none;
  }
}

@media (max-width: 360px) {
  /* line 780, ../sass/bayres.scss */
  .img-logo-footer {
    width: 335px;
    height: 100px;
    margin-left: 20px;
    background-size: contain;
  }
}

/* line 789, ../sass/bayres.scss */
#buscar {
  background-color: #8CC63F;
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  z-index: 1;
}

/* line 799, ../sass/bayres.scss */
#buscar input[type="text"] {
  width: 60%;
}
@media (max-width: 360px) {
  /* line 799, ../sass/bayres.scss */
  #buscar input[type="text"] {
    width: 80%;
  }
}

/* line 807, ../sass/bayres.scss */
#menu-categorias-detalle {
  position: fixed;
  width: 100%;
  top: 75px;
  min-height: 150px;
  transform: translate(1, 1);
  transform-origin: 100% 0%;
  background: rgba(0, 98, 0, 0.9);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  font-family: "Myriad Pro Condensed";
}

/* line 825, ../sass/bayres.scss */
.menu-separator {
  margin: 7px 0;
  cursor: pointer;
}

/* line 829, ../sass/bayres.scss */
.menu-principal {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  margin-top: 40px !important;
}

/* line 835, ../sass/bayres.scss */
.menu-pricipal-item {
  color: #ffff00;
  cursor: pointer;
  margin: 5px 0 10px 12px;
  font-size: 22px;
}

/* line 841, ../sass/bayres.scss */
.menu-pricipal-item:hover {
  color: #fff;
}

/* line 844, ../sass/bayres.scss */
.menu-categoria-titulo {
  color: #fff;
  margin-top: 40px !important;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: bold;
  margin-left: 10px;
  font-family: "Myriad Pro Bold Condensed";
}

/* line 853, ../sass/bayres.scss */
.menu-subcategoria {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  color: #fff;
  margin-top: 40px !important;
  text-transform: capitalize;
}

/* line 862, ../sass/bayres.scss */
.menu-subcategoria-item {
  color: #fff;
  cursor: pointer;
  margin: 5px 0 10px 12px;
  font-size: 18px;
}

/* line 868, ../sass/bayres.scss */
.carrito-imagen {
  background: rgba(0, 0, 0, 0.7) url("../images/carritox2.png") 50% 50% no-repeat;
}

/* line 871, ../sass/bayres.scss */
.container-carrito-1 {
  max-height: 270px;
  overflow-y: scroll;
}

/* line 878, ../sass/bayres.scss */
.buscar-clear-image {
  position: relative;
  left: -30px;
  cursor: pointer;
}

/* line 883, ../sass/bayres.scss */
.detalle-imagen {
  width: 220px;
  height: 220px;
  border: #8CC63F 1px solid;
  padding: 3px;
}

/* line 889, ../sass/bayres.scss */
.detalle-titulo {
  color: #8cc63f;
  font-size: 37px;
  text-align: center;
}

/* line 894, ../sass/bayres.scss */
.div-close {
  float: right;
  position: relative;
  top: -15px;
}
@media (max-width: 360px) {
  /* line 894, ../sass/bayres.scss */
  .div-close {
    top: -325px;
  }
}

/* line 902, ../sass/bayres.scss */
.div-detalle {
  min-height: 250px;
}

/* line 906, ../sass/bayres.scss */
.div-button {
  bottom: 10px;
  float: right;
}
@media (max-width: 360px) {
  /* line 906, ../sass/bayres.scss */
  .div-button {
    position: relative;
    float: right;
    margin-top: 20px;
  }
}

/* line 920, ../sass/bayres.scss */
.transition-pane-animation.ng-enter,
.transition-pane-animation.ng-leave {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

/* line 927, ../sass/bayres.scss */
.transition-pane-animation.ng-enter {
  z-index: 100;
  opacity: 0;
}

/* line 931, ../sass/bayres.scss */
.transition-pane-animation.ng-enter.ng-enter-active {
  opacity: 1;
}

/* line 934, ../sass/bayres.scss */
.transition-pane-animation.ng-leave {
  z-index: 101;
  opacity: 1;
}

/* line 938, ../sass/bayres.scss */
.transition-pane-animation.ng-leave.ng-leave-active {
  opacity: 0;
}

/* line 941, ../sass/bayres.scss */
.container-oferta {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 390px;
}
@media (max-width: 700px) {
  /* line 941, ../sass/bayres.scss */
  .container-oferta {
    flex-direction: column;
  }
}

/* line 950, ../sass/bayres.scss */
.container-oferta-imagen, .container-oferta-producto {
  margin: 0 15px;
}

/* line 953, ../sass/bayres.scss */
.oferta-imagen {
  width: 300px;
  height: 300px;
  border: 1px solid #8CC63F;
  padding: 3px;
}
@media (max-width: 700px) {
  /* line 953, ../sass/bayres.scss */
  .oferta-imagen {
    width: 200px;
    height: 200px;
    margin-top: 15px;
  }
}

/* line 964, ../sass/bayres.scss */
.oferta-titulo {
  text-align: center;
  font-size: 50px;
  color: #8cc63f;
  font-family: "Myriad Pro Bold Condensed", serif;
}
@media (max-width: 700px) {
  /* line 964, ../sass/bayres.scss */
  .oferta-titulo {
    font-size: 35px;
  }
}

/* line 973, ../sass/bayres.scss */
.oferta-descripcion {
  text-align: left;
  font-family: "Myriad Pro Condensed", serif;
  color: #fff;
  font-size: 32px;
  height: 170px;
  margin-top: 20px;
  margin-bottom: 10px;
}
@media (max-width: 700px) {
  /* line 973, ../sass/bayres.scss */
  .oferta-descripcion {
    font-size: 24px;
    height: 90px;
  }
}

/* line 986, ../sass/bayres.scss */
.btn-oferta {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 700px) {
  /* line 986, ../sass/bayres.scss */
  .btn-oferta {
    justify-content: center;
  }
}

/* line 994, ../sass/bayres.scss */
.btn-info-big {
  width: 50px;
  height: 50px;
  background: url("../images/info_2.png") 50% 50% no-repeat;
  background-size: 100%;
  cursor: pointer;
}

/* line 1001, ../sass/bayres.scss */
.btn-info-big:hover {
  width: 50px;
  height: 50px;
  background: url("../images/info_2b.png") 50% 50% no-repeat;
  background-size: 100%;
  cursor: pointer;
}

@media (max-width: 700px) {
  /* line 1009, ../sass/bayres.scss */
  .oferta-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* line 1016, ../sass/bayres.scss */
.oferta-bottom {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* line 1021, ../sass/bayres.scss */
.slider_1, .slider_2, .slider_3, .slider_4 {
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin: 0px 5px 10px;
}

/* line 1029, ../sass/bayres.scss */
.slider_selected {
  background-color: #8CC63F;
  border: 2px solid #8CC63F;
}

/* line 1033, ../sass/bayres.scss */
.ac-item-list {
  background-color: #8CC63F;
  color: #fff;
  padding: 5px 0 5px 15px;
  cursor: pointer;
}

/* line 1039, ../sass/bayres.scss */
.ac-item-list:hover {
  color: #ffff00;
}

/* line 1042, ../sass/bayres.scss */
.ac-item-selected-list {
  cursor: pointer;
}

/* line 1045, ../sass/bayres.scss */
.container-legales {
  font-size: 20px;
  font-family: "Myriad Pro Condensed";
  color: #fff;
  margin: 25px 6%;
  justify-content: flex-start;
  text-align: justify;
}

/*
.container-main-ofertas .container-oferta.ng-enter {
  -webkit-animation: ofertas-container-enter 1s;
  -o-animation: ofertas-container-enter 1s;
  animation: ofertas-container-enter 1s;
}
.container-main-ofertas  .container-oferta.ng-leave {
  -webkit-animation: ofertas-container-leave 1s;
  -o-animation: ofertas-container-leave 1s;
  animation: ofertas-container-leave 1s;
}
@-webkit-keyframes ofertas-container-enter {
  0% {
    transform: translate(0px, -1500px);
  }
  100% {
    transform: translate(0px, 0);
  }
}
@-webkit-keyframes ofertas-container-leave {
  0% {
    transform: translate(0px, 0);
  }
  100% {
    transform: translate(0px, 1500px);
  }
}
*/
