/* line 5, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Myriad Pro Bold";
  src: url('../fonts/MYRIADPRO-BOLD.woff?1447514879') format('woff');
}
@font-face {
  font-family: "Myriad Pro Bold Condensed";
  src: url('../fonts/MYRIADPRO-BOLDCOND.woff?1447514879') format('woff');
}
@font-face {
  font-family: "Myriad Pro Condensed";
  src: url('../fonts/MYRIADPRO-COND.woff?1447514879') format('woff');
}
@font-face {
  font-family: "Myriad Pro Regular";
  src: url('../fonts/MYRIADPRO-REGULAR.woff?1447514879') format('woff');
}
/* line 33, ../sass/menu.scss */
.login {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  height: 30px;
  width: 100%;
  position: fixed;
  top: 0;
  padding-left: 20%;
  background-color: #000;
  color: #fff;
  font-size: 1em;
  font-family: "Myriad Pro Bold Condensed", serif;
  z-index: 1000;
  margin-top: 0;
}
@media (max-width: 360px) {
  /* line 33, ../sass/menu.scss */
  .login {
    padding-left: 10%;
  }
}

/* line 55, ../sass/menu.scss */
.login-separator {
  padding: 0 5px;
}

/* line 58, ../sass/menu.scss */
.login-text {
  color: #ffae00;
  text-decoration: none;
}

/* line 62, ../sass/menu.scss */
.login-text:hover {
  color: #ffff00;
}

/* line 65, ../sass/menu.scss */
.mi-carrito {
  margin-left: 30%;
}

@media (max-width: 800px) {
  /* line 69, ../sass/menu.scss */
  .mi-carrito,
  .mi-carrito-img {
    visibility: collapse;
    display: none;
  }
}

/* line 77, ../sass/menu.scss */
.header {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  background-color: #bcbcbc;
  position: fixed;
  top: 0;
  font-family: "Myriad Pro Bold Condensed";
  z-index: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
@media (min-width: 800px) {
  /* line 77, ../sass/menu.scss */
  .header {
    display: flex;
    justify-content: center;
  }
}

/* line 97, ../sass/menu.scss */
.nav-button-transformed {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 105, ../sass/menu.scss */
.nav-button {
  flex: 1;
  margin-top: 15px;
  margin-left: 15px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  transform-origin: 13px 13px;
  transform-style: preserve-3D;
}
/* line 116, ../sass/menu.scss */
.nav-button div {
  cursor: pointer;
  width: 25px;
  height: 4px;
  border-radius: 2px;
  background-color: #ffffff;
  margin: 4px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 130, ../sass/menu.scss */
.nav-button .nav-button-top-transformed {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 137, ../sass/menu.scss */
.nav-button .nav-button-mid-transformed {
  -webkit-transform: translate(-3px, 0px);
  -moz-transform: translate(-3px, 0px);
  -ms-transform: translate(-3px, 0px);
  -o-transform: translate(-3px, 0px);
  transform: translate(-3px, 0px);
}
/* line 144, ../sass/menu.scss */
.nav-button .nav-button-bot-transformed {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 153, ../sass/menu.scss */
.menu-mobile {
  display: flex;
  height: 100%;
  z-index: 100;
}
/* line 158, ../sass/menu.scss */
.menu-mobile .header-separator {
  height: 40px;
  margin-top: 5px;
  width: 2px;
  margin-left: 40px;
  background-color: white;
}
/* line 166, ../sass/menu.scss */
.menu-mobile .logo {
  flex: 5;
  padding: 5px;
  margin-right: 15px;
  text-align: right;
}

/* line 174, ../sass/menu.scss */
.bienvenidos {
  color: #fff;
  margin-left: 30px;
  margin-top: 15px;
  font-size: 20px;
  text-align: left;
}

/* line 183, ../sass/menu.scss */
.menu-mobile-panel {
  color: #ffff00;
  font-family: "Myriad Pro Bold Condensed";
  position: fixed;
  bottom: 0px;
  top: 80px;
  padding-left: 20px;
  z-index: 500;
  height: 100%;
  background: rgba(0, 98, 0, 0.9);
  transform: translate(1, 1);
  transform-origin: 0% 100%;
  font-size: 20px;
  text-transform: capitalize;
  -webkit-transform: translate(-1000px, 0);
  -moz-transform: translate(-1000px, 0);
  -ms-transform: translate(-1000px, 0);
  -o-transform: translate(-1000px, 0);
  transform: translate(-1000px, 0);
}
/* line 201, ../sass/menu.scss */
.menu-mobile-panel .menu-desktop-btn {
  margin-top: 15px;
  line-height: 18px;
  font-variant: all-petite-caps;
}
@media (min-width: 800px) {
  /* line 183, ../sass/menu.scss */
  .menu-mobile-panel {
    visibility: collapse;
    display: none;
  }
}

/* line 220, ../sass/menu.scss */
.menu-mobile-panel-show {
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  transform: translate(0px, 0);
}

/* line 228, ../sass/menu.scss */
.menu-mobile-panel-show-add {
  -webkit-animation: menu-mobile-enter 0.4s;
  -o-animation: menu-mobile-enter 0.4s;
  animation: menu-mobile-enter 0.4s;
}

/* line 234, ../sass/menu.scss */
.menu-mobile-panel-show-remove {
  -webkit-animation: menu-mobile-leave 0.4s;
  -o-animation: menu-mobile-leave 0.4s;
  animation: menu-mobile-leave 0.4s;
}

@keyframes menu-mobile-enter {
  0% {
    -webkit-transform: translate(-1000px, 0);
    -moz-transform: translate(-1000px, 0);
    -ms-transform: translate(-1000px, 0);
    -o-transform: translate(-1000px, 0);
    transform: translate(-1000px, 0);
  }
  100% {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
}
@keyframes menu-mobile-leave {
  0% {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
  100% {
    -webkit-transform: translate(-1000px, 0);
    -moz-transform: translate(-1000px, 0);
    -ms-transform: translate(-1000px, 0);
    -o-transform: translate(-1000px, 0);
    transform: translate(-1000px, 0);
  }
}
@media (max-width: 799px) {
  /* line 275, ../sass/menu.scss */
  .menu-type-desktop {
    visibility: collapse;
    display: none !important;
  }
}

@media (min-width: 800px) {
  /* line 282, ../sass/menu.scss */
  .menu-type-mobile {
    visibility: collapse;
    display: none !important;
  }
}

/* line 289, ../sass/menu.scss */
.menu-desktop {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  max-width: 1200px;
  min-width: 600px;
  width: 1020px;
}
/* line 296, ../sass/menu.scss */
.menu-desktop #menu-desktop-logo {
  flex: 2;
  background-color: transparent;
  min-width: 145px;
  max-width: 145px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px;
  z-index: 401;
}
/* line 306, ../sass/menu.scss */
.menu-desktop #menu-desktop-logo img {
  margin-left: 10px;
}
/* line 311, ../sass/menu.scss */
.menu-desktop #menu-desktop-logo:hover {
  cursor: pointer;
}
/* line 315, ../sass/menu.scss */
.menu-desktop #menu-desktop-right {
  flex: 8;
  display: flex;
  flex-direction: column;
}
/* line 319, ../sass/menu.scss */
.menu-desktop #menu-desktop-right #menu-desktop-upper {
  flex: 1;
}
/* line 323, ../sass/menu.scss */
.menu-desktop #menu-desktop-right #menu-desktop-lower {
  background-color: transparent;
  flex: 1;
  max-height: 35px;
  position: fixed;
  top: 7px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 336, ../sass/menu.scss */
.menu-desktop #menu-desktop-right #menu-desktop-lower #menu-desktop-lower-inner {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
/* line 345, ../sass/menu.scss */
.menu-desktop #menu-desktop-right #menu-desktop-lower .menu-desktop-btn {
  cursor: pointer;
  font-weight: bolder;
  padding: 0 15px;
  font-size: 16px;
  position: relative;
  color: #fff;
  border-left: 1px solid;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px) {
  /* line 345, ../sass/menu.scss */
  .menu-desktop #menu-desktop-right #menu-desktop-lower .menu-desktop-btn {
    font-size: 11px;
  }
}
/* line 367, ../sass/menu.scss */
.menu-desktop #menu-desktop-right #menu-desktop-lower .menu-desktop-btn:hover,
.menu-desktop #menu-desktop-right #menu-desktop-lower .menu-desktop-btn-selected {
  color: #fff;
  background-color: darkgreen;
}

/* line 377, ../sass/menu.scss */
.mi-carrito-mobile {
  left: 20%;
  position: fixed;
  top: 30%;
}

/* line 382, ../sass/menu.scss */
.mi-carrito-mobile-img {
  left: 35%;
  position: fixed;
  top: 25%;
}

@media (max-width: 800px) {
  /* line 388, ../sass/menu.scss */
  .mi-carrito-mobile-img {
    display: none;
  }
}
/* line 392, ../sass/menu.scss */
#menu-categorias-mobile {
  margin-top: 15px;
}

/* line 395, ../sass/menu.scss */
.menu-categorias-mobile-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 380px;
}

/* line 400, ../sass/menu.scss */
.categoria-separator {
  margin-top: 10px;
  color: #fff;
  font-family: "Myriad Pro Regular";
}

/* line 405, ../sass/menu.scss */
.subcategoria-separator {
  font-size: 16px;
  margin-top: 7px;
}
