/* line 5, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Myriad Pro Bold";
  src: url('../fonts/MYRIADPRO-BOLD.woff?1446549555') format('woff');
}
@font-face {
  font-family: "Myriad Pro Bold Condensed";
  src: url('../fonts/MYRIADPRO-BOLDCOND.woff?1446549555') format('woff');
}
@font-face {
  font-family: "Myriad Pro Condensed";
  src: url('../fonts/MYRIADPRO-COND.woff?1446549555') format('woff');
}
@font-face {
  font-family: "Myriad Pro Regular";
  src: url('../fonts/MYRIADPRO-REGULAR.woff?1446549555') format('woff');
}
/*
body{
  font-family: $myriad_pro_bold_condensed, serif;
  height: 2000px;
  background: #00fefe url("../images/sucursales_05.png") top center no-repeat fixed;
  background-size: cover;
}
*/
/* line 42, ../sass/parallax.scss */
#parallax {
  font-family: "Myriad Pro Bold Condensed", serif;
  height: 2000px;
  background-color: #00fefe;
  background-size: cover;
}

/* line 49, ../sass/parallax.scss */
#section-1, #section-2, #section-3, #section-4 {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 600px;
}

/* line 59, ../sass/parallax.scss */
#section-2 {
  background-color: #42210B;
}

/* line 63, ../sass/parallax.scss */
#section-3 {
  background-color: darkgrey;
}

/* line 67, ../sass/parallax.scss */
#section-4 {
  background-color: darkred;
}

/* line 72, ../sass/parallax.scss */
#sucursal1, #sucursal2, #sucursal3, #sucursal4 {
  width: 100%;
  height: 80%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  background: url("../images/sucursales_04.png") 5% 50% no-repeat;
}

/* line 82, ../sass/parallax.scss */
#sucursal2 {
  background: url("../images/sucursales_03.png") 95% 90% no-repeat;
}

/* line 85, ../sass/parallax.scss */
#sucursal3 {
  background: url("../images/sucursales_02.png") 60% 110% no-repeat;
}

/* line 89, ../sass/parallax.scss */
#sucursal4 {
  background: url("../images/sucursales_01.png") 95% 90% no-repeat;
}

/* line 93, ../sass/parallax.scss */
#tierra1, #tierra2, #tierra3 {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  background: url("../images/tierra_01.png") 5% 50% no-repeat;
}

/* line 103, ../sass/parallax.scss */
#tierra2 {
  background: url("../images/tierra_02.png") 95% 90% no-repeat;
}

/* line 106, ../sass/parallax.scss */
#tierra3 {
  background: url("../images/tierra_03.png") 60% 110% no-repeat;
}

/* line 110, ../sass/parallax.scss */
#roca1, #roca2, #roca3 {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  background: url("../images/destacados_01.png") 5% 50% no-repeat;
}

/* line 120, ../sass/parallax.scss */
#roca2 {
  background: url("../images/destacados_02.png") 95% 90% no-repeat;
}

/* line 123, ../sass/parallax.scss */
#roca3 {
  background: url("../images/destacados_03.png") 60% 110% no-repeat;
}

/* line 127, ../sass/parallax.scss */
#lava1, #lava2, #lava3 {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  background: url("../images/lava_01.png") 5% 50% no-repeat;
}

/* line 137, ../sass/parallax.scss */
#lava2 {
  background: url("../images/lava_02.png") 95% 90% no-repeat;
}

/* line 140, ../sass/parallax.scss */
#lava3 {
  background: url("../images/lava_03.png") 60% 110% no-repeat;
}
