/* line 5, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Myriad Pro Bold";
  src: url('../fonts/MYRIADPRO-BOLD.woff?1446553266') format('woff');
}
@font-face {
  font-family: "Myriad Pro Bold Condensed";
  src: url('../fonts/MYRIADPRO-BOLDCOND.woff?1446553266') format('woff');
}
@font-face {
  font-family: "Myriad Pro Condensed";
  src: url('../fonts/MYRIADPRO-COND.woff?1446553266') format('woff');
}
@font-face {
  font-family: "Myriad Pro Regular";
  src: url('../fonts/MYRIADPRO-REGULAR.woff?1446553266') format('woff');
}
/* line 32, ../sass/parallax.scss */
#main-productos, #main-destacados, #main-mas-vendidos, #main-ofertas {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
}
@media (max-width: 800px) {
  /* line 32, ../sass/parallax.scss */
  #main-productos, #main-destacados, #main-mas-vendidos, #main-ofertas {
    max-width: 99% !important;
  }
}

/* line 47, ../sass/parallax.scss */
#parallax {
  font-family: "Myriad Pro Bold Condensed", serif;
  height: 2000px;
  background-size: cover;
  margin-top: 80px;
}

/* line 55, ../sass/parallax.scss */
#section-1, #section-2, #section-3, #section-4 {
  position: relative;
  min-height: 600px;
}

/* line 60, ../sass/parallax.scss */
#section-1 {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 68, ../sass/parallax.scss */
#section-2 {
  background: brown url("../images/tierra_04.jpg") top center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 79, ../sass/parallax.scss */
#section-3 {
  background: darkgrey url("../images/piedra_04.png") top center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 88, ../sass/parallax.scss */
#section-4 {
  background: darkred url("../images/lava_06.png") top center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 97, ../sass/parallax.scss */
#section-5, #section-6 {
  position: relative;
}

/* line 101, ../sass/parallax.scss */
#section-5 {
  height: 50px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ddb4+0,83c783+17,52b152+33,008a00+67,005700+83,002400+100;Green+3D+%231 */
  background: #b4ddb4;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I0ZGRiNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE3JSIgc3RvcC1jb2xvcj0iIzgzYzc4MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iIzUyYjE1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY3JSIgc3RvcC1jb2xvcj0iIzAwOGEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgzJSIgc3RvcC1jb2xvcj0iIzAwNTcwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDI0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4ddb4', endColorstr='#002400', GradientType=0);
  /* IE6-8 */
  font-family: "Myriad Pro Bold Condensed", serif;
  width: 100%;
  color: #8cc63f;
  font-size: 20px;
  white-space: nowrap;
}

/* line 120, ../sass/parallax.scss */
#section-6 {
  height: 450px;
  background-color: #000;
}

/* line 125, ../sass/parallax.scss */
#sucursal1, #sucursal2, #sucursal3, #sucursal4,
#tierra1, #tierra2, #tierra3,
#roca1, #roca2, #roca3, #roca4, #lava0,
#lava1, #lava2, #lava3, #lava4 {
  width: 100%;
  height: 600px;
  position: absolute;
}

/* line 135, ../sass/parallax.scss */
#sucursal0 {
  background: #00fefe url("../images/sucursales_04.png") top center no-repeat fixed;
  top: 50px;
  position: fixed;
  width: 100%;
  height: 400px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  z-index: -10;
}

/* line 151, ../sass/parallax.scss */
#sucursal1 {
  -webkit-filter: blur(2px);
  filter: blur(2px);
  background: url(../images/sucursales_03.png) top center no-repeat;
}

/* line 158, ../sass/parallax.scss */
#sucursal2 {
  background: url(../images/sucursales_02.png) top center no-repeat;
}

/* line 163, ../sass/parallax.scss */
#sucursal3 {
  background: url(../images/sucursales_01.png) top center no-repeat;
}

/* line 172, ../sass/parallax.scss */
#tierra1 {
  background: url(../images/tierra_01.png) top center no-repeat;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

/* line 180, ../sass/parallax.scss */
#tierra2 {
  background: url(../images/tierra_02.png) top center no-repeat;
}

/* line 184, ../sass/parallax.scss */
#tierra3 {
  background: url(../images/tierra_03.png) top center no-repeat;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

/* line 191, ../sass/parallax.scss */
#roca1 {
  position: absolute;
  top: 0;
  background: url(../images/piedra_01.png) top center no-repeat;
}

/* line 199, ../sass/parallax.scss */
#roca2 {
  position: absolute;
  top: 0;
  background: url(../images/piedra_02.png.png) top center no-repeat;
}

/* line 205, ../sass/parallax.scss */
#roca3 {
  background: url(../images/.png) top center no-repeat;
}

/* line 211, ../sass/parallax.scss */
#roca4 {
  background: url(../images/piedra_04.png.png) top center no-repeat;
}

/* line 215, ../sass/parallax.scss */
#lava0 {
  background: url("../images/lava_05.png") top center no-repeat;
  transform: translateY(300px) translateZ(0);
  -webkit-filter: blur(3px);
  filter: blur(4px);
  height: 300px;
}

/* line 225, ../sass/parallax.scss */
#lava1 {
  background: url("../images/lava_04.png") top center no-repeat;
  transform: translateY(350px) translateZ(0);
  -webkit-filter: blur(2px);
  filter: blur(2px);
  height: 200px;
}

/* line 235, ../sass/parallax.scss */
#lava2 {
  background: url("../images/lava_03.png") top center no-repeat;
  transform: translateY(400px) translateZ(0);
  height: 200px;
}

/* line 245, ../sass/parallax.scss */
#lava4 {
  background: url("../images/lava_01.png") top center no-repeat;
}

/* line 252, ../sass/parallax.scss */
#lava3 {
  background: url("../images/lava_02.png") top center no-repeat;
  transform: translateY(100px) translateZ(0);
}
