<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="bayres" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="bayres" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="bayres" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="bayres" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Bayres No Problem</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css"-->
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="css/bayres.css">
  <link rel="stylesheet" href="css/menu.css">
  <link rel="stylesheet" href="css/parallax.css">
  <!--script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script-->
</head>
<body ng-controller="BayresController as bayresCtrl">
  <div class="login">
    <div>Bienvenido!</div>
    <div ng-if="!bayresCtrl.isLogged" class="login-separator"><a href="" ng-click="bayresCtrl.createUsuario();" class="login-text">Nuevo usuario</a></div>
    <div ng-if="!bayresCtrl.isLogged">o</div>
    <div ng-if="!bayresCtrl.isLogged" class="login-separator"><a href="" ng-click="bayresCtrl.login();" class="login-text">Ya estoy registrado</a></div>
    <div ng-if="bayresCtrl.isLogged" class="login-separator">{{bayresCtrl.usuario.nombre + ' ' + bayresCtrl.usuario.apellido}}</div>
    <div ng-if="bayresCtrl.isLogged"><a href="" ng-click="bayresCtrl.logout();" class="login-text">Salir</a></div>
    <div class="mi-carrito">Mi Carrito: ${{bayresCtrl.carritoInfo.totalAPagar}} ({{bayresCtrl.carritoInfo.cantidadDeProductos}})</div>
    <img src="images/cart.png" alt="Mi Carrito" title="Mi Carrito">
  </div>

  <div class="header">
    <div class="menu-mobile menu-type-mobile">
        <div class="nav-button"
             ng-click="bayresCtrl.menu_mobile_open = !bayresCtrl.menu_mobile_open;"
             ng-class="{'nav-button-transformed':bayresCtrl.menu_mobile_open}">
            <div ng-class="{'nav-button-top-transformed':bayresCtrl.menu_mobile_open}"></div>
            <div ng-class="{'nav-button-mid-transformed':bayresCtrl.menu_mobile_open}"></div>
            <div ng-class="{'nav-button-bot-transformed':bayresCtrl.menu_mobile_open}"></div>
        </div>
        <div class="header-separator"></div>
        <div class="bienvenidos">
          <div class="mi-carrito-mobile">Mi Carrito: ${{bayresCtrl.carritoInfo.totalAPagar}} ({{bayresCtrl.carritoInfo.cantidadDeProductos}})</div>
          <img class="mi-carrito-mobile-img" src="images/cart.png" alt="Mi Carrito" title="Mi Carrito">
        </div>
    </div>
    <div class="menu-desktop menu-type-desktop">
      <div id="menu-desktop-logo" ng-click="bayresCtrl.goTo({nombre: 'INICIO', path: '/'});">
        <img src="images/logo_top.png" alt="logo" height="60px" width="200px">
      </div>
      <div id="menu-desktop-right">
        <div id="menu-desktop-upper"></div>
        <div id="menu-desktop-lower">
          <div id="menu-desktop-lower-inner">
            <div class="menu-desktop-btn ac-ripple"
                 ng-class="{'menu-desktop-btn-selected':bayresCtrl.selectedPage.indexOf(link.nombre) > -1 }"
                 ripple-color="#ffffff"
                 ng-mouseover="(link.nombre == 'Categorias') ? bayresCtrl.showCategorias = true : bayresCtrl.showCategorias = false;"
                 ng-repeat="link in bayresCtrl.links"
                 ng-click="bayresCtrl.goTo(link);"> {{link.nombre}}
                <div ng-if="link.tieneImagen">
                  <img src="images/{{link.nombreImagen}}" alt="{{link.nombre}}" title="{{link.nombre}}" height="20"/>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu-mobile-panel" ng-class="{'menu-mobile-panel-show':bayresCtrl.menu_mobile_open}">
    <div class="menu-desktop-btn ac-ripple"
         ng-class="{'menu-desktop-btn-selected':bayresCtrl.selectedPage.indexOf(link.nombre) > -1 }"
         ripple-color="#ffffff"
         ng-repeat="link in bayresCtrl.links"
         ng-click="bayresCtrl.goTo(link); bayresCtrl.menu_mobile_open=false;"> {{link.nombre}}
    </div>
    <div ng-if="bayresCtrl.showCategorias" id="menu-categorias-mobile">
      <div>CATEGORIAS</div>
      <div ng-repeat="categoria in bayresCtrl.categorias">
        <div class="">
          <div class="" ng-click="bayresCtrl.getByCategoria(categoria.categoria_id);">{{categoria.nombre}}</div>
          <div class="" ng-repeat="subcategoria in categoria.subcategorias" ng-click="bayresCtrl.getByCategoria(subcategoria.categoria_id);">
            <spam class="">{{subcategoria.nombre}} (<span style="color: #ffff00;">{{subcategoria.total_categoria}}</span>)</spam>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="bayresCtrl.showCategorias" id="menu-categorias-detalle" ng-mouseleave="bayresCtrl.showCategorias = false;">
    <div class="menu-principal">
      <div ng-click="bayresCtrl.inicio();" class="menu-pricipal-item">Inicio</div>
      <div ng-click="bayresCtrl.comprar();" class="menu-pricipal-item">Mi Carrito</div>
      <div ng-click="bayresCtrl.cuenta();" class="menu-pricipal-item">Mi Cuenta</div>
      <div ng-click="bayresCtrl.comprar();" class="menu-pricipal-item">Finalizar Compra</div>
    </div>
    <div ng-repeat="categoria in bayresCtrl.categorias">
      <div class="menu-subcategoria">
        <div class="menu-categoria-titulo" ng-click="bayresCtrl.getByCategoria(categoria.categoria_id);">{{categoria.nombre}}</div>
        <div class="menu-separator" ng-repeat="subcategoria in categoria.subcategorias" ng-click="bayresCtrl.getByCategoria(subcategoria.categoria_id);">
          <spam class="menu-subcategoria-item">{{subcategoria.nombre}} (<span style="color: #ffff00;">{{subcategoria.total_categoria}}</span>)</spam>
        </div>
      </div>
    </div>
  </div>

  <!-- SECCION VIEW-->
  <!--<div id="vista" ng-view></div>-->

  <div id="parallax">
    <div id="section-1">
      <div id="sucursal1"></div>
      <div id="sucursal2"></div>
      <div id="sucursal3"></div>
    </div>
    <div id="buscar">
      <input type="text" class="form-control"
             ac-search-panel service="ProductService" exact-match="false" visible="nombre"
             ng-model="bayresCtrl.producto.nombre" objeto="bayresCtrl.producto"
             params="nombre,descripcion" ng-keyup="bayresCtrl.buscarProducto($event);">
      <img src="images/close.png" class="buscar-clear-image" ng-click="bayresCtrl.filtro = '';">
    </div>
    <div id="section-2">
      <div id="tierra1"></div>
      <div id="tierra2"></div>
      <div id="tierra3"></div>
      <div class="transition-pane-animation" ng-include="bayresCtrl.selectedIncludeTop"></div>
    </div>
    <div id="section-3">
      <div id="roca1"></div>
      <div id="roca2"></div>
      <div id="roca3"></div>
      <div class="transition-pane-animation" ng-include="bayresCtrl.selectedIncludeMiddle"></div>
    </div>
    <div id="section-4">
      <div id="lava1"></div>
      <div id="lava2"></div>
      <div id="lava3"></div>
      <div class="transition-pane-animation" ng-include="bayresCtrl.selectedIncludeBottom"></div>
    </div>
    <div id="section-5">
      <div class="medio-pagos">
        <span class="medio-pagos-text">MEDIOS DE PAGO:</span>
        <img src="images/medio_07.png" alt="Transferencia" title="Transferencia">
        <img src="images/medio_08.png" alt="Deposito Bancario" title="Deposito Bancario">
        <img src="images/medio_01.png" alt="Mercado Pago" title="Mercado Pago">
        <img src="images/medio_02.png" alt="Visa" title="Visa">
        <img src="images/medio_03.png" alt="MasterCard" title="MasterCard">
        <img src="images/medio_04.png" alt="American Express" title="American Express">
        <img src="images/medio_05.png" alt="Pago Facil" title="Pago Facil">
        <img src="images/medio_06.png" alt="Rapi Pago" title="Rapi Pago">
      </div>
    </div>
    <div id="section-6">
      <div class="outer-center footer-outer">
        <div class="inner-center footer-inner">
          <div class="footer-container">
            <div class="footer-upper">
              <img class="img-logo-footer" src="images/logofooter.png" alt=""/>
            </div>
            <div class="footer-lower">
              <div class="footer-lower-colum">
                <div class="footer-lower-title">NAVEGACI&Oacute;N</div>
                <br/>
                <a class="footer-lower-link" ng-click="bayresCtrl.goTo({nombre: 'main', path: '/main'});">SUCURSALES</a><br/>
                <a class="footer-lower-link" ng-click="bayresCtrl.ofertasForm();">OFERTAS</a><br/>
                <a class="footer-lower-link" ng-click="bayresCtrl.destacadosForm();">DESTACADOS</a><br/>
                <a class="footer-lower-link" ng-click="bayresCtrl.masVendidosForm();">+VENDIDOS</a><br/>
              </div>
              <div class="footer-lower-colum">
                <div class="footer-lower-title">REGISTRO</div>
                <br/>
                <a class="footer-lower-link" ng-click="bayresCtrl.goTo({nombre: 'login', path: '/login'});"
                   href="">INGRESAR</a><br/>
                <a class="footer-lower-link" ng-click="bayresCtrl.goTo({nombre: 'usuario', path: '/usuarios'});"
                   href="">REGISTRARSE</a><br/>
              </div>
              <div class="footer-lower-colum">
                <div class="footer-lower-title">CARRITO</div>
                <br/>
                <!--a class="footer-lower-link">COMPRAS</a><br/-->
                <a class="footer-lower-link" ng-click="bayresCtrl.goTo({nombre: 'carrito', path: '/carrito'});">CHECKOUT</a><br/>
              </div>
              <div class="footer-lower-colum">
                <div class="footer-lower-title">LEGALES</div>
                <br/>
                <a class="footer-lower-link" ng-click="bayresCtrl.goTo({nombre: 'legales', path: '/legales'});">ENVIOS/DEVOLUCIONES</a><br/>
                <a class="footer-lower-link" ng-click="bayresCtrl.goTo({nombre: 'legales', path: '/legales'});">CONFIDENCIALIDAD</a><br/>
                <a class="footer-lower-link" ng-click="bayresCtrl.goTo({nombre: 'legales', path: '/legales'});">CONDICIONES DE USO</a><br/>
                <a class="footer-lower-link" ng-click="bayresCtrl.goTo({nombre: 'contacto', path: '/contacto'});">CONTACTENOS</a><br/>
                <a class="footer-lower-link" ng-click="bayresCtrl.goTo({nombre: 'legales', path: '/legales'});">&iquest;QUIENES SOMOS?</a><br/>
              </div>
              <div class="footer-lower-colum">
                <div class="footer-lower-title">REDES SOCIALES</div>
                <br/>
                <a href="https://m.facebook.com/bayresnoproblem.grow" style="color: #000">
                  <img src="images/social_01.png" alt="facebook"/>
                </a>
                <a href="https://twitter.com/bayresnoproblem">
                  <img src="images/social_02.png" alt="twitter"/>
                </a>
              </div>
            </div>
            <div class="copyright font-color-text">
              <div >Bayres No Problem &copy; 2015 All Rights Reserved</div>
              <div >Power By <a href="http://ac-desarrollos.com/" class="ac-desarrollo">AC-Desarrollos</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/a0-angular-storage/dist/angular-storage.min.js"></script>
  <script src="bower_components/angular-jwt/dist/angular-jwt.min.js"></script>
  <script src="bower_components/ac-angular-utils/ac-utils.js"></script>
  <script src="bower_components/ac-angular-usuarios/ac-usuarios.js"></script>
  <script src="bower_components/ac-angular-productos/ac-productos.js"></script>
  <script src="app.js"></script>
  <script src="agreement/agreement.js"></script>
  <script src="main/main.js"></script>
  <script src="login/login.js"></script>
  <script src="usuarios/usuario.js"></script>
  <script src="productos/producto.js"></script>
  <script src="carrito/carrito.js"></script>
  <script src="micuenta/micuenta.js"></script>
  <script src="contacto/contacto.js"></script>
  <script src="detalle/detalle.js"></script>
  <script src="js/ac-parallax.js"></script>

</body>
</html>
