<div class="container-title">
    <label class="title-font">Mi Cuenta</label>
</div>

<div ng-controller="MiCuentaController as cuentaCtrl" class="primary-form">
    <div class="container-form">
        <div class="container-1">
            <div class="container-datos">
                <div class="datos-titulo">
                    Modificar datos personales
                </div>
                <div class="container-interno">
                    <div class="container-datos-1">
                        <div class="form-group">
                            <label class="label-input">Apellido</label>
                            <input type="text" class="form-control" ng-model="cuentaCtrl.userForm.apellido" placeholder="Apellido...">
                        </div>
                        <div class="form-group">
                            <label class="label-input">Nombre</label>
                            <input type="text" class="form-control" ng-model="cuentaCtrl.userForm.nombre" placeholder="Nombre...">
                        </div>
                    </div>
                    <div class="container-datos-2">
                        <div class="form-group">
                            <label class="label-input">Direcci&oacute;n</label>
                            <input type="text" class="form-control" ng-model="cuentaCtrl.dirForm.direccion" placeholder="Direcci&oacute;n">
                        </div>
                        <div class="form-group">
                            <label class="label-input">Mail</label>
                            <input type="text" class="form-control" ng-model="cuentaCtrl.userForm.mail" placeholder="Mail...">
                        </div>
                    </div>
                </div>
                <div class="container-buttons">
                    <div class="">
                        <input type="checkbox" ng-model="userCtrl.userForm.news_letter" ><span>Suscribirse a Newsletter</span>
                    </div>
                    <button ng-click="cuentaCtrl.updateUser();">Ok</button>
                </div>
                <div class="form-message" ng-if="cuentaCtrl.messageResponse.success == true || cuentaCtrl.messageResponse.userError == true">
                    <div class="message">{{cuentaCtrl.messageResponse.message}}</div>
                </div>
            </div>
            <div class="container-pwd">
                <div class="pwd-titulo">
                    Modificar Contrase&ntilde;a
                </div>
                <div class="form-group">
                    <label class="label-input">Contrase&ntilde;a vieja</label>
                    <input type="password" class="form-control" ng-model="cuentaCtrl.passwordForm.password" placeholder="Contrase&ntilde;a...">
                </div>
                <div class="form-group">
                    <label class="label-input">Contrase&ntilde;a nueva</label>
                    <input type="password" class="form-control" ng-model="cuentaCtrl.passwordForm.password_repeat" placeholder="Contrase&ntilde;a...">
                </div>
                <div class="container-buttons">
                    <button ng-click="cuentaCtrl.updatePwd();">Ok</button>
                </div>
                <div class="form-message" ng-if="cuentaCtrl.messageResponse.success == true || cuentaCtrl.messageResponse.pwdError == true">
                    <div class="message">{{cuentaCtrl.messageResponse.message}}</div>
                </div>
            </div>
        </div>
        <div class="container-2">
            <div class="container-carrito" >
                <div class="carrito-historico">
                    <span class="carrito-titulo">Ultimos pedidos</span>
                    <select ng-click="cuentaCtrl.productos = cuentaCtrl.carrito.productos;"
                            ng-change="cuentaCtrl.getCarritoSelected(cuentaCtrl.carrito);"
                            ng-model="cuentaCtrl.carrito"
                            ng-options="carrito.carrito_id + ' - ' + carrito.fecha.substring(0, 10) + ' - ' + carrito.total for carrito in cuentaCtrl.historico_pedidos"
                            class="form-control control-select">
                    </select>
                </div>
                <div class="carrito-productos" ng-if="cuentaCtrl.showCarritoDetalle == true">
                    <div class="carrito-table-head">
                        <div class="carrito-table-row-name">Producto</div>
                        <div class="carrito-table-row">Cant.</div>
                        <div class="carrito-table-row">Precio U.</div>
                        <div class="carrito-table-row">Precio</div>
                        <div class="carrito-table-row"><img src="images/cart.png" title="" hidden/></div>
                    </div>
                    <div ng-repeat="producto in cuentaCtrl.productos" class="carrito-table-body">
                        <div class="carrito-table-row-name font-color-text">{{producto.nombre}} </div>
                        <div class="carrito-table-row div-input">{{producto.cantidad}}</div>
                        <div class="carrito-table-row div-input">{{producto.precio_unitario | currency}}</div>
                        <div class="carrito-table-row div-input">{{producto.precio_unitario * producto.cantidad | currency}}</div>
                        <div class="carrito-table-row">
                            <a href="" ng-click="cuentaCtrl.addProducto(producto);">
                                <img src="images/cart.png" title="Agregar Producto al Carrito" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="container-buttons">
                    <div class="botonera">
                        <button ng-click="cuentaCtrl.cancelCarrito();" class="btn-cancel">Cancelar Pedido</button>
                        <button ng-click="cuentaCtrl.repeatCarrito();">Pedilo!</button>
                        <button ng-click="cuentaCtrl.home();">Home</button>
                        <span class="carrito-subtotal font-color-text">Subtotal:</span><div class="div-input-big">{{cuentaCtrl.carrito.total | currency}}</div>
                    </div>

                    <div class="form-message" ng-if="cuentaCtrl.messageResponse.success == true || cuentaCtrl.messageResponse.carritoError == true">
                        <div class="message">{{cuentaCtrl.messageResponse.message}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
