<div class="container-title">
    <label class="title-font font-color-text">Ingres&aacute;</label>
</div>

<div ng-controller="LoginController as loginCtrl" class="primary-form">
    <div class="container-form">
        <div class="form-group">
            <label class="label-input">Mail</label>
            <input type="text" class="form-control" ng-model="loginCtrl.loginForm.mail" placeholder="Mail...">
        </div>
        <div class="form-group">
            <label class="label-input">Contrase&ntilde;a</label>
            <input type="password" class="form-control"
                   ng-model="loginCtrl.loginForm.password"
                   ng-keyup="loginCtrl.passwordEnter($event);"
                   placeholder="Contrase&ntilde;a...">
        </div>

        <div class="botonera">
            <button ng-click="loginCtrl.login();">Aceptar</button>
            <button ng-click="loginCtrl.createUsuario();">Nuevo Usuario</button>
        </div>

        <div class="form-message">
            <div class="message">{{loginCtrl.message}}</div>
        </div>
    </div>
</div>
