<h3>Main</h3>
<div ng-controller="MainController as mainCtrl">

    <ul class="menu" >
        <li><a href="#/agreement">Inicial</a></li>
        <li><a href="#/main">Main</a></li>
        <li><a href="#/login">Login</a></li>
        <li><a href="#/usuarios">Usuario</a></li>
        <li><a href="#/productos">Productos</a></li>
        <li><a href="#/carrito">Carrito</a></li>
        <li><a href="#/micuenta">Mi Cuenta</a></li>
        <li><a href="" ng-click="mainCtrl.logout();">Logout</a></li>
    </ul>



    <h4>Categorias</h4>
    <div style="display: flex; flex-direction: row; margin-left: 30px;">
        <div ng-repeat="categoria in mainCtrl.categorias">
            <div class="categoria-container">
                <div>{{categoria.categoria_id}}</div>
                <div>{{categoria.nombre}}</div>
                <a href="" title="Detalle" ng-click="mainCtrl.showSubCategoria(categoria.categoria_id);">SubCategoria</a>
                <div ng-if="mainCtrl.showInfo" ng-repeat="subcategoria in categoria.subcategorias">
                    <div class="">
                        <div>{{subcategoria.categoria_id}}</div>
                        <div>{{subcategoria.nombre}}</div>
                        <a href="" title="Detalle" ng-click="mainCtrl.hideSubCategoria(categoria.categoria_id);">Ocultar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <h4>Ofertas</h4>
    <div>
        <input ng-model="mainCtrl.productoBuscado" type="text"
               ng-change="mainCtrl.findProducto();" placeholder="Buscar..." />
    </div>
    <div>{{mainCtrl.productoResultado}}</div>
    <div style="display: flex; flex-direction: row; margin-left: 30px;">
        <div ng-repeat="producto in mainCtrl.productoList">
            <div class="producto-container">
                <div>{{producto.producto_id}}</div>
                <div>{{producto.nombre}}</div>
                <div>{{producto.precios[0].precio}}</div>
                <a href="" title="{{producto.nombre}}" ng-click="mainCtrl.addProducto(producto)">+</a>
                <a href="" title="Detalle" ng-click="mainCtrl.showDetalle(producto.producto_id);">Detalle</a>
            </div>
        </div>
    </div>

    <br>
    <h4>Carrito</h4>
    <div>
        <span>${{mainCtrl.carritoInfo.totalAPagar}} </span><span>({{mainCtrl.carritoInfo.cantidadDeProductos}})</span>
    </div>

    <br>
    <h4>Ofertas</h4>
    <div style="display: flex; flex-direction: row; margin-left: 30px;">
        <div ng-repeat="producto in mainCtrl.productosEnOfertas">
            <div class="producto-container">
                <div>{{producto.producto_id}}</div>
                <div>{{producto.nombre}}</div>
                <div>{{producto.precios[0].precio}}</div>
                <a href="" title="{{producto.nombre}}" ng-click="mainCtrl.addProducto(producto)">+</a>
                <a href="" title="Detalle" ng-click="mainCtrl.showDetalle(producto.producto_id);">Detalle</a>
            </div>
        </div>
    </div>

    <br>
    <h4>Destacados</h4>
    <div style="display: flex; flex-direction: row; margin-left: 30px;">
        <div ng-repeat="producto in mainCtrl.productosDestacados">
            <div class="producto-container">
                <div>{{producto.producto_id}}</div>
                <div>{{producto.nombre}}</div>
                <div>{{producto.precios[0].precio}}</div>
                <a href="" title="{{producto.nombre}}" ng-click="mainCtrl.addProducto(producto)">+</a>
                <a href="" title="Detalle" ng-click="mainCtrl.showDetalle(producto.producto_id);">Detalle</a>
            </div>
        </div>
    </div>

    <br>
    <h4>+Vendidos</h4>
    <div style="display: flex; flex-direction: row; margin-left: 30px;">
        <div ng-repeat="producto in mainCtrl.productosMasVendidos">
            <div class="producto-container">
                <div>{{producto.producto_id}}</div>
                <div>{{producto.nombre}}</div>
                <div>{{producto.precios[0].precio}}</div>
                <a href="" title="{{producto.nombre}}" ng-click="mainCtrl.addProducto(producto)">+</a>
                <a href="" title="Detalle" ng-click="mainCtrl.showDetalle(producto.producto_id);">Detalle</a>
            </div>
        </div>
    </div>
</div>