<h3>Main</h3>
<div ng-controller="MainController as mainCtrl">

    <h4>Carrito</h4>
    <div>
        <span>${{mainCtrl.carritoInfo.totalAPagar}} </span><span>({{mainCtrl.carritoInfo.cantidadDeProductos}})</span>
    </div>

    <br>
    <h4>Ofertas</h4>
    <div style="display: flex; flex-direction: row; margin-left: 30px;">
        <div ng-repeat="producto in mainCtrl.productosEnOfertas">
            <div class="">
                <div>{{producto.producto_id}}</div>
                <div>{{producto.nombre}}</div>
                <div>{{producto.precios[0].precio}}</div>
                <a href="" title="{{producto.nombre}}" ng-click="mainCtrl.addProducto(producto)">+</a>
            </div>
        </div>
    </div>

    <br>
    <h4>Destacados</h4>
    <div style="display: flex; flex-direction: row; margin-left: 30px;">
        <div ng-repeat="producto in mainCtrl.productosDestacados">
            <div class="">
                <div>{{producto.producto_id}}</div>
                <div>{{producto.nombre}}</div>
                <div>{{producto.precios[0].precio}}</div>
                <a href="" title="{{producto.nombre}}" ng-click="mainCtrl.addProducto(producto)">+</a>
            </div>
        </div>
    </div>

    <br>
    <h4>+Vendidos</h4>
    <div style="display: flex; flex-direction: row; margin-left: 30px;">
        <div ng-repeat="producto in mainCtrl.productosMasVendidos">
            <div class="">
                <div>{{producto.producto_id}}</div>
                <div>{{producto.nombre}}</div>
                <div>{{producto.precios[0].precio}}</div>
                <a href="" title="{{producto.nombre}}" ng-click="mainCtrl.addProducto(producto)">+</a>
            </div>
        </div>
    </div>
</div>