<div class="container-title">
    <label class="title-font">Carrito</label>
</div>

<div ng-controller="CarritoController as carritoCtrl" class="primary-form">
    <div class="container-form">

        <div>
            <span>${{carritoCtrl.carritoInfo.totalAPagar}} </span><span>({{carritoCtrl.carritoInfo.cantidadDeProductos}})</span>
        </div>

        <div ng-repeat="producto in carritoCtrl.carritoDetalles">
            <div class="producto-container">
                <div>{{producto.producto_id}}</div>
                <div>{{producto.nombre}}</div>
                <div>{{producto.cantidad}}</div>
                <div>{{producto.precio_unitario}}</div>
                <input id="producto-cantidad" ng-change="(producto.cantidad < 0) ? producto.cantidad = 0 : producto.cantidad; carritoCtrl.refreshProducto(producto);"
                       type="number" ng-model="producto.cantidad" style=""/>
                <a href="" title="{{producto.nombre}}" ng-click="carritoCtrl.removeProducto($index)">-</a>
            </div>
        </div>

        <div class="botonera">
            <button ng-click="carritoCtrl.confirmCarrito();">Confirmar Pedido</button>
            <button ng-click="carritoCtrl.home();">Home</button>
        </div>

        <div class="form-message">
            <div class="message">{{carritoCtrl.message}}</div>
        </div>
    </div>
</div>