//Fonts Faces
$myriad_pro_bold: "Myriad Pro Bold";
$myriad_pro_bold_condensed: "Myriad Pro Bold Condensed";
$myriad_pro_condensed: "Myriad Pro Condensed";
$myriad_pro_regular: "Myriad Pro Regular";

$font_color_title: #8cc63f;
$font_color_message: #8cc63f;
$font_color_text: #fff;
$font_color_text_hover: #ffff00;
$font_color_input: #000;

$background_color: #00fefe;
$input_background_color: #fff;
$border_color: #8CC63F;

@import "compass";
@import "compass/reset";
@import "compass/css3/font-face";

@include font-face($myriad_pro_bold, font-files("MYRIADPRO-BOLD.woff"));
@include font-face($myriad_pro_bold_condensed, font-files("MYRIADPRO-BOLDCOND.woff"));
@include font-face($myriad_pro_condensed, font-files("MYRIADPRO-COND.woff"));
@include font-face($myriad_pro_regular, font-files("MYRIADPRO-REGULAR.woff"));

body {
  font-family: $myriad_pro_bold_condensed, serif;
  overflow-x: hidden;
  background-color: $background_color;
}
.font-color-text {
  color: $font_color_text;
}
.agreement-form {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #005B16;
  z-index: 200000;
  overflow-y: auto;
  overflow-x: hidden;
  background: #575457;
  background: -moz-linear-gradient(left, #575457 0%, #131313 53%, #474647 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #575457), color-stop(53%, #131313), color-stop(100%, #474647));
  background: -webkit-linear-gradient(left, #575457 0%, #131313 53%, #474647 100%);
  background: -o-linear-gradient(left, #575457 0%, #131313 53%, #474647 100%);
  background: -ms-linear-gradient(left, #575457 0%, #131313 53%, #474647 100%);
  background: linear-gradient(to right, #575457 0%, #131313 53%, #474647 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575457', endColorstr='#474647', GradientType=1);
}
.agreement-form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  height: 100%;
  width: 100%;
}
.agreement-logo{

}
.img-logo {
  @media (max-width: 360px) {
    width: 335px;
    height: 120px;
    background-size: contain;
    margin-top: 100px;
    margin-bottom: 20px;
  }
}
.agreement-titulo{
  font-family: $myriad_pro_bold_condensed;
  font-size: 50px;
  position: relative;
  line-height: 55px;
  color: $font_color_title;
  margin-top: 100px;
  text-align: center;
  @media (max-width: 360px) {
    font-size: 45px;
    margin-top: 0px;
  }
}
.agreement-text{
  font-family: $myriad_pro_regular;
  font-size: 20px;
  position: relative;
  line-height: 20px;
  top: 10px;
  color: $font_color_text;
  padding-bottom: 30px;
  margin-left: 8%;
  margin-right: 8%;
  text-align: center;
  @media (max-width: 360px) {
    font-size: 16px;
  }
}
.botonera {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  @media (max-width: 360px) {
    margin-bottom: 30px;
  }
}
button {
  width: 100px;
  height: 30px;
  font-size: 14px;
  color: $font_color_text;
  font-family: $myriad_pro_bold_condensed, serif;
  margin-left: 7px;
  margin-right: 7px;
  border-radius: 12px;
  border: 0px solid;
  cursor: pointer;
  background: #b4ddb4;
  background: -moz-linear-gradient(top, #b4ddb4 0%, #006200 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b4ddb4), color-stop(100%, #006200));
  background: -webkit-linear-gradient(top, #b4ddb4 0%, #006200 100%);
  background: -o-linear-gradient(top, #b4ddb4 0%, #006200 100%);
  background: -ms-linear-gradient(top, #b4ddb4 0%, #006200 100%);
  background: linear-gradient(to bottom, #b4ddb4 0%, #006200 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4ddb4', endColorstr='#006200', GradientType=0);
}
.container-title {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
.title-font {
  //color: white;
  font-size: 71px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
}
.primary-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}
.container-form{
  min-height: 370px;
  width: 690px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: $border_color 1px solid;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  @media (max-width: 360px) {
    width: 340px;
  }
}
.container-form-2{
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}
.form-control {
  display: block;
  width: 100%;
  height: 20px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: $font_color_input;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 28px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-message {
  margin-top: 20px;
  text-align: center;
}
.message {
  font-weight: bold;
  color: $font_color_message;
}
.datos-titulo, .pwd-titulo, .carrito-titulo {
  font-size: 24px;
  color: $font_color_title;
  text-align: center;
  margin: 15px 0;
}
.carrito-titulo {
  margin-right: 5px;
}
.label-input{
  font-size: 20px;
  color: $font_color_text;
  margin-left: 10px;
}
.form-group {
  margin-bottom: 15px;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.container-1, .container-2 {
  width: 100%;
  margin-top: 15px;
}
.container-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}
.container-2 {
  margin-bottom: 15px;
}
.container-datos {
  order: 0;
  flex: 2 1 auto;
  align-self: auto;
}
.container-datos-1, .container-datos-2 {
  width: 165px;
  margin: 0 15px;
}
.container-pwd {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}
.container-datos, .container-pwd, .container-carrito {
  background-color: rgba(0, 0, 0, 0.5);
}
.container-datos {
  margin-left: 15px;
  margin-right: 7px;
}
.container-pwd {
  margin-left: 7px;
  margin-right: 15px;
}
.container-carrito {
  margin: 0 15px;
}
.container-interno{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}
.carrito-historico, .carrito-productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  padding: 10px 0;
}
.control-select {
  height: 38px;
  width: 300px;
  margin-left: 5px;
}
.carrito-table-head, .carrito-table-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  width: 100%;
}
.carrito-table-head {
  color: $font_color_title;
}
.carrito-table-row-name {
  width: 220px;
}
.carrito-table-row {
  width: 85px;
  text-align: center;
}
.div-input, .div-input-big {
  background-color: $input_background_color;
  padding: 5px 10px;
  border-radius: 15px;
  border: 0px solid;
  margin: 0 3px 10px 3px;
  text-align: right;
}
.div-input {
  width: 60px;
  font-size: 12px;
}
.div-input-big {
  width: 90px;
  font-size: 18px;
  height: 20px;
}
.carrito-subtotal {
  font-size: 26px;
  font-weight: bold;
}
.container-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  margin-bottom: 15px;
}
.btn-cancel{
  background: #a90329;
  background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a90329), color-stop(44%, #8f0222), color-stop(100%, #6d0019));
  background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -o-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -ms-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
}

//******FOOTER****
#medios {
  background-color: #FCFCFC;
  font-family: $myriad_pro_bold_condensed, serif;
  width: 100%;
  color: $font_color_title;
  font-size: 20px;
  white-space: nowrap;
}
#medios {
  position: absolute;
  height: 50px;
  top: 2225px;
  right: 0px;
  left: 0px;
  z-index: 50;
}
.medio-pagos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}
.medio-pagos img {
  width: 40px;
  height: 30px;
  padding: 10px 5px 0 5px;
}
#footer {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  font-family: $myriad_pro_condensed, serif;
}
#footer {
  position: absolute;
  height: 450px;
  top: 2275px;
  right: 0px;
  left: 0px;
  z-index: 50;
  background-color: #000000;
}
.footer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}
.footer-upper {
  margin-top: 20px;
}
.footer-lower{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
  margin-top: 50px;
  @media (max-width: 360px) {
    margin-top: 15px;
  }
}
.footer-lower-colum {
  width: 150px;
  @media (max-width: 360px) {
    width: 75px;
    font-size: 14px;
  }
}
.footer-lower-title {
  color: $font_color_title;
}
.footer-lower-link {
  text-decoration: none;
  color: $font_color_text;
  cursor: pointer;
}
.footer-lower-link:hover {
  color: $font_color_text_hover;
}
.copyright {
  width: 100%;
  margin-top: 50px;
  text-align: center;
  font-size: 14px;
}
.ac-desarrollo {
  text-decoration: none;
  color: $font_color_text;
}
.ac-desarrollo:hover {
  color: $font_color_text_hover;
}
.medio-pagos-text {
  @media (max-width: 360px) {
    display: none;
  }
}
.img-logo-footer {
  @media (max-width: 360px) {
    width: 335px;
    height: 100px;
    margin-left: 20px;
    background-size: contain;
  }
}