//Fonts Faces
$myriad_pro_bold: "Myriad Pro Bold";
$myriad_pro_bold_condensed: "Myriad Pro Bold Condensed";
$myriad_pro_condensed: "Myriad Pro Condensed";
$myriad_pro_regular: "Myriad Pro Regular";

$font_color_title: #8cc63f;
$font_color_secundary_title: #fff;
$font_color_message: #8cc63f;
$font_color_text: #fff;
$font_color_text_hover: #ffff00;
$font_color_input: #000;
$font_color_login: #ffae00;


$background_color: #00fefe;
$background_color_menu: #bcbcbc;
$background_color_secundary: #000;
$background_color_menu_hover: darkgreen;

$input_background_color: #fff;
$border_color: #8CC63F;

@import "compass";
@import "compass/reset";
@import "compass/css3/font-face";

@include font-face($myriad_pro_bold, font-files("MYRIADPRO-BOLD.woff"));
@include font-face($myriad_pro_bold_condensed, font-files("MYRIADPRO-BOLDCOND.woff"));
@include font-face($myriad_pro_condensed, font-files("MYRIADPRO-COND.woff"));
@include font-face($myriad_pro_regular, font-files("MYRIADPRO-REGULAR.woff"));

/*
body{
  font-family: $myriad_pro_bold_condensed, serif;
  height: 2000px;
  background: #00fefe url("../images/sucursales_05.png") top center no-repeat fixed;
  background-size: cover;
}
*/

#parallax {
  font-family: $myriad_pro_bold_condensed, serif;
  height: 2000px;
  //background: #00fefe url("../images/sucursales_05.png") top center no-repeat fixed;
  background-color: $background_color;
  background-size: cover;
}

#section-1, #section-2, #section-3, #section-4{
  position: relative;
  //background: $background_color url("../images/sucursales_05.png") top center no-repeat fixed;
  //background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 600px;
}
#section-1 {
  background: $background_color url("../images/sucursales_05.png") top center no-repeat fixed;
}
#section-2 {
  background: #00fefe url("../images/tierra_04.jpg") top center no-repeat fixed;
}
#section-3 {
  background: #00fefe url("../images/destacados_04.jpg") top center no-repeat fixed;
  //background-color: darkgrey;
}
#section-4 {
  background: #00fefe url("../images/lava_01.png") top center no-repeat fixed;
  //background-color: darkred;
}

#sucursal1, #sucursal2, #sucursal3, #sucursal4{
  width: 100%;
  height: 600px;
  position: fixed;
  text-align: right;
  background-color: #fff;
}
#sucursal1{
  -webkit-filter: blur(2px);
  filter: blur(2px);
  background: url(../images/sucursales_03.png) top center no-repeat;
}

#sucursal2{
  background: url(../images/sucursales_02.png) top center no-repeat;
}
#sucursal3{
  background: url(../images/sucursales_01.png) top center no-repeat;
}
#sucursal4{
  background: url("../images/sucursales_01.png") top center no-repeat;
}
#tierra1, #tierra2, #tierra3{
  width: 100%;
  height: 600px;
  position: fixed;
  text-align: right;
  background-color: #fff;
  background: url(../images/tierra_04.jpg) top center no-repeat;
}
#tierra2{
  background: url(../images/tierra_03.png) top center no-repeat;
}
#tierra3{
  background: url(../images/tierra_01.png) top center no-repeat;
}
#roca1, #roca2, #roca3{
  width: 100%;
  height: 600px;
  position: fixed;
  text-align: right;
  background-color: #fff;
  background: url(../images/destacados_03.png) top center no-repeat;
}
#roca2{
  background: url(../images/destacados_02.png) top center no-repeat;
}
#roca3{
  background: url(../images/destacados_01.png) top center no-repeat;
}
#lava1, #lava2, #lava3{
  width: 100%;
  height: 600px;
  position: fixed;
  text-align: right;
  background-color: #fff;
  background: url("../images/lava_01.png") top center no-repeat;
}
#lava2{
  background: url("../images/lava_02.png") top center no-repeat;
}
#lava3{
  background: url("../images/lava_03.png") top center no-repeat;
}