//Fonts Faces
$myriad_pro_bold: "Myriad Pro Bold";
$myriad_pro_bold_condensed: "Myriad Pro Bold Condensed";
$myriad_pro_condensed: "Myriad Pro Condensed";
$myriad_pro_regular: "Myriad Pro Regular";

$font_color_title: #8cc63f;
$font_color_secundary_title: #fff;
$font_color_message: #8cc63f;
$font_color_text: #fff;
$font_color_text_hover: #ffff00;
$font_color_input: #000;
$font_color_login: #ffae00;


$background_color: #00fefe;
$background_color_menu: #bcbcbc;
$background_color_secundary: #000;
$background_color_menu_hover: darkgreen;

$input_background_color: #fff;
$border_color: #8CC63F;

@import "compass";
@import "compass/reset";
@import "compass/css3/font-face";

@include font-face($myriad_pro_bold, font-files("MYRIADPRO-BOLD.woff"));
@include font-face($myriad_pro_bold_condensed, font-files("MYRIADPRO-BOLDCOND.woff"));
@include font-face($myriad_pro_condensed, font-files("MYRIADPRO-COND.woff"));
@include font-face($myriad_pro_regular, font-files("MYRIADPRO-REGULAR.woff"));


#main-productos, #main-destacados, #main-mas-vendidos, #main-ofertas{
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  @media (max-width: 800px) {
    max-width: 99% !important;
    //overflow-x: auto;
    //align-items: flex-start;

  }
}

#parallax {
  font-family: $myriad_pro_bold_condensed, serif;
  height: 2000px;
  background-color: $background_color;
  background-size: cover;
  margin-top: 80px;
}

#section-1, #section-2, #section-3, #section-4{
  position: relative;
  min-height: 600px;
}
#section-1 {
  background: $background_color url("../images/sucursales_04.png") top center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#section-2 {
  //background: brown url("../images/tierra_04.png") top center no-repeat fixed;
  background: brown url("../images/tierra_04.jpg") top center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  //-webkit-filter: blur(2px);
  //filter: blur(2px);
}
#section-3 {
  //background: darkgrey url("../images/destacados_04.jpg") top center no-repeat fixed;
  background: darkgrey url("../images/piedra_04.png") top center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#section-4 {
  //background: darkred url("../images/lava_01.png") top center no-repeat fixed;
  background: darkred url("../images/lava_06.png") top center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#section-5, #section-6 {
  position: relative;
}
#section-5 {
  height: 50px;
 // background-color: #FCFCFC;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ddb4+0,83c783+17,52b152+33,008a00+67,005700+83,002400+100;Green+3D+%231 */
  background: rgb(180,221,180); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I0ZGRiNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE3JSIgc3RvcC1jb2xvcj0iIzgzYzc4MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iIzUyYjE1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY3JSIgc3RvcC1jb2xvcj0iIzAwOGEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgzJSIgc3RvcC1jb2xvcj0iIzAwNTcwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDI0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(180,221,180,1) 0%, rgba(131,199,131,1) 17%, rgba(82,177,82,1) 33%, rgba(0,138,0,1) 67%, rgba(0,87,0,1) 83%, rgba(0,36,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-8 */

  font-family: $myriad_pro_bold_condensed, serif;
  width: 100%;
  color:$font_color_title;
  font-size: 20px;
  white-space: nowrap;
}
#section-6 {
  height: 450px;
  background-color: #000;
}

#sucursal1, #sucursal2, #sucursal3, #sucursal4,
#tierra1, #tierra2, #tierra3,
#roca1, #roca2, #roca3, #roca4, #lava0,
#lava1, #lava2, #lava3, #lava4 {
  width: 100%;
  height: 600px;
  position: absolute;
  //top:0;
}
#sucursal1{
  -webkit-filter: blur(2px);
  filter: blur(2px);
  background: url(../images/sucursales_03.png) top center no-repeat;
  //background-color: lightblue;
}
#sucursal2{
  background: url(../images/sucursales_02.png) top center no-repeat;
  //background-color: yellow;
}
#sucursal3{
  background: url(../images/sucursales_01.png) top center no-repeat;
  //background-color: lightgreen;
}
#sucursal4{
  //background: url(../images/sucursales_01.png) top center no-repeat;
}

#tierra1{
  background: url(../images/tierra_01.png) top center no-repeat;
  //transform: scale(2.2,2.2);
  -webkit-filter: blur(4px);
  filter: blur(4px);


}
#tierra2{
  background: url(../images/tierra_02.png) top center no-repeat;
}
#tierra3{
  background: url(../images/tierra_03.png) top center no-repeat;
  -webkit-filter: blur(4px);
  filter: blur(4px);

}

#roca1 {
  //background: url(../images/destacados_03.png) top center no-repeat;
  background: url(../images/piedra_01.png) top center no-repeat;
  //transform: translateY(-100px);
}
#roca2{
  background: url(../images/piedra_02.png.png) top center no-repeat;
}
#roca3{
  //background: url(../images/destacados_02.png) top center no-repeat;
  background: url(../images/.png) top center no-repeat;
  //transform: translateY(100px);
}
#roca4{
  background: url(../images/piedra_04.png.png) top center no-repeat;
}

#lava0{
  background: url("../images/lava_05.png") top center no-repeat;
  transform: translateY(300px);
  -webkit-filter: blur(3px);
  filter: blur(4px);
  //height: 50%;
  //background-color: orange;
}

#lava1{
  background: url("../images/lava_04.png") top center no-repeat;
  transform: translateY(350px);
  -webkit-filter: blur(2px);
  filter: blur(2px);
  //height: 50%;
  //background-color: orange;
}
#lava2{

  //background-color: #8f0222;
  background: url("../images/lava_03.png") top center no-repeat;
  transform: translateY(400px);
  //height: 50%;
  //background-color: darkred;
}
#lava4{
  background: url("../images/lava_01.png") top center no-repeat;
  //background: url("../images/lava_04.png") top center no-repeat;
  //transform: translateY(100px);
  //background-color: orangered;
}
#lava3{
  background: url("../images/lava_02.png") top center no-repeat;
  transform: translateY(100px);
  //background-color: darkorange;
}
